[2021-01-19 21:33] thebioengineer opened #16 "COVIDcorr location in lockfile"
location in the lockfile points to the old installation as opposed to the CoVPN directory

[2021-01-22 00:51] benkeser opened #17 "`immuno_graphical` requests"
@KenLi93 (cc @nhejazi)

I took a hack through your code to try to get a bit more modularity and fixed a few bugs that came up along the way. This has now been merged into `master`.

A few FYI points:
- I added a `code/params.R` file where some of the common parameters for the script are saved.
- I have removed the compiled figures from the repo. Ideally we will just be storing the source code on G

[2021-01-22 02:11] #16 closed, assigned to nhejazi

[2021-01-30 20:37] #17 closed, assigned to nobody

[2021-01-30 22:04] nhejazi opened #28 "Immunogenicity tables build issues"
Hi @cyu-hvtn (cc @benkeser) ---
As I'm building out the full report (using `make book_immuno` from the top level of this repo), I'm running into an error in `immuno_tabular/report.Rmd`. Specifically, I'm getting the failure
[code]
which points to (at least as a first instance) https://github.com/CoVPN/correlates_reporting/blob/master/immuno_tabular/report.Rmd#L172. Would you mind looking into this

[2021-01-30 22:08] nhejazi opened #29 "Immunogenicity graphics build issues"
Hi @KenLi93 (cc @benkeser) ---
As part of assembling the full immunogenicity report, we need to run `make book_immuno` from the top level of this repository. After merging the latest PRs and running `make all` in the `immuno_graphics` directory, the `immuno_graphics/report.Rmd` appears to contain references to some graphics that are not produced as part of your `make` recipes. I've manually added

[2021-01-31 21:13] #29 closed, assigned to nobody

[2021-02-03 05:34] #28 closed, assigned to nobody

[2021-02-18 02:01] benkeser opened #42 "`cor_threshold` subdirectory"
@youyifong , we set a placeholder for threshold finding methods as part of the CoR report, but did I see that perhaps some of those methods are applied in `cor_nonlinear` analysis? If so, we'll just delete the `cor_threshold` directory.

[2021-02-18 14:03] #42 closed, assigned to nobody

[2021-02-19 17:00] thebioengineer opened #48 "Random Selection Reproducibility"
I wanted to open an issue to document how we wanted to approach reproducibility with respect to random selections.
Normally I approach this by setting a seed  just before the random selection, but I wanted to solicit thoughts and feedback.

This will be important for the verification of plots where we do random subsetting, possibly other scenarios as well.

@benkeser @nhejazi

[2021-02-22 21:02] benkeser opened #50 "Rplots.pdf in cor_graphical"
When I run `make all` in `cor_graphical` a random plot called `Rplots.pdf` appears in `cor_graphical` directory. @yiwenlu @KenLi93 could you figure out what code is producing this plot and fix it?

Low priority issue.

[2021-02-23 16:15] benkeser opened #52 "boxplots in baseline positive"
@yiwenlu @KenLi93

Currently, plots with label `boxplots_Delta57overB_trt_vaccine_x_cc_BaselinePos_` are not being generated as part of the `Makefile`, but they are included in `report.Rmd`. Should these plots be included in the report? If so, how can the code be modified to generate these plots?

[2021-02-23 18:08] #52 closed, assigned to yiwenlu

[2021-02-26 18:57] #50 closed, assigned to nobody

[2021-02-26 21:20] benkeser opened #64 "RCDF plots"
@KenLi93  @peterbriangilbert
In the reverse CDF plots like the one below, it looks like there is some linear interpolation that occurs below the LLOQ. Is that desired? Or should it be more like KM, where the curve would stay at 1 until it hits that LLOQ and then steps down to the 1 - the fraction at the LLOQ?

![Marker_RCDF_Day57_trt_by_event_status_bstatus_BaselinePos_mock](https://user-images.gi

[2021-02-26 23:32] #64 closed, assigned to KenLi93

[2021-02-27 02:46] benkeser opened #69 "error building immuno report with current master"
I'm getting a build error on the `immuno_report` that i wasn't seeing previously. Something happening in `code/descriptive_graphics_two_phase_plots.R` and in particular calls to `covid_corr_pairplots`. The error is

[code]

_Originally posted by @benkeser in https://github.com/CoVPN/correlates_reporting/issues/66#issuecomment-786988428_

[2021-03-01 00:39] #69 closed, assigned to cyu-hvtn

[2021-03-01 00:40] benkeser opened #72 "column names in clean data"
I'm getting a disconcerting warning when running `data_clean/make_dat_proc.R`

[code]

Could you check whether there is supposed to be a name there?

[2021-03-01 01:36] benkeser opened #73 "horizontal tables in immuno report"
When the immuno report is knitted to a pdf, some tables run off the page.

Maybe [this solution](https://stackoverflow.com/questions/25849814/rstudio-rmarkdown-both-portrait-and-landscape-layout-in-a-single-pdf ) could help?

[2021-03-01 01:57] benkeser opened #74 "overwriting reports"
It seems that currently, if an `immuno` report is built prior to a `cor` report, the `cor` report will overwrite the file for `immuno`. Perhaps how `bookdown` handles placing the output (re-writing the contents of `_book` every time.

[2021-03-01 02:07] benkeser opened #76 "scatter plots with smoothers"
I find it difficult to read these plots. The gray lines are hard to line up with the colored figures. And the points seem overly large. @peterbriangilbert @youyifong @nhejazi @yiwenlu @KenLi93 . Any ideas?

[scatter_pnAb_id50_Vaccine_BaselineNeg_Day29_mock.pdf](https://github.com/CoVPN/correlates_reporting/files/6058705/scatter_pnAb_id50_Vaccine_BaselineNeg_Day29_mock.pdf)

[2021-03-01 14:34] benkeser opened #78 "latex gore"
There is currently some latex gore in the `immuno` report.

<img width="677" alt="Screen Shot 2021-03-01 at 9 33 58 AM" src="https://user-images.githubusercontent.com/17482713/109511700-515eea00-7a71-11eb-8b64-a92b42c8d4e7.png">

[2021-03-01 14:37] benkeser opened #79 "NA in plot"
@KenLi93 @yiwenlu

This figure in the `immuno` report needs some tweaks. What's up with the `NA`? And the legend is cut off.

<img width="747" alt="Screen Shot 2021-03-01 at 9 36 31 AM" src="https://user-images.githubusercontent.com/17482713/109512107-bca8bc00-7a71-11eb-9602-e0c13c3f686b.png">

[2021-03-01 14:40] benkeser opened #80 "subsections in `cor_coxph`"
@youyifong , could you add a few subsection heads in your `report.Rmd` to help the TOC render more informatively?

<img width="676" alt="Screen Shot 2021-03-01 at 9 39 47 AM" src="https://user-images.githubusercontent.com/17482713/109512515-2de86f00-7a72-11eb-99c0-4e953c5ec33b.png">

[2021-03-01 14:59] #76 closed, assigned to KenLi93

[2021-03-01 15:02] benkeser opened #81 "legend too big in RCDF plot"
@KenLi93  what do you think about moving the confidence interval information to the caption of the plot for these figures so there is more room for the figure itself?

<img width="1415" alt="Screen Shot 2021-03-01 at 10 02 36 AM" src="https://user-images.githubusercontent.com/17482713/109515616-48701780-7a75-11eb-8027-437860edc053.png">

[2021-03-01 16:28] #72 closed, assigned to nhejazi

[2021-03-01 17:11] #74 closed, assigned to nhejazi

[2021-03-01 21:07] benkeser opened #83 "parameters in `_common.R` vs. `code/params.R`"
@KenLi93 @cyu-hvtn @yiwenlu @youyifong @nhejazi @thebioengineer

Currently, there is redundancy the definition of certain variables across [`_common.R`](https://github.com/CoVPN/correlates_reporting/blob/master/_common.R), which is sourced by all scripts, and in subdirectory specific folders (e.g., [`cor_coxph/code/params.R`](https://github.com/CoVPN/correlates_reporting/blob/master/cor_coxph/code

[2021-03-02 02:14] benkeser opened #87 "threshold CI questions"
Why, when the risk dips to 0, does the CI go from 0 to 1? I also wonder whether it is possible to render the superscripts in math font?

<img width="546" alt="Screen Shot 2021-03-01 at 9 08 02 PM" src="https://user-images.githubusercontent.com/17482713/109585876-48eacb80-7ad2-11eb-8a65-7e6938f7d8cd.png">

_Originally posted by @benkeser in https://github.com/CoVPN/correlates_reporting/issues/85#is

[2021-03-02 02:14] benkeser opened #88 "Axis size in `cor_threshold`"
Minor detail, but the font size on the axes are a bit large.

<img width="471" alt="Screen Shot 2021-03-01 at 9 10 45 PM" src="https://user-images.githubusercontent.com/17482713/109586086-a1ba6400-7ad2-11eb-802b-4c11c6babce1.png">

_Originally posted by @benkeser in https://github.com/CoVPN/correlates_reporting/issues/85#issuecomment-788520915_

[2021-03-02 02:23] #80 closed, assigned to nobody

[2021-03-02 02:36] #81 closed, assigned to nobody

[2021-03-03 17:24] benkeser opened #95 "ongoing travis build issues"
[Current build](https://travis-ci.com/github/CoVPN/correlates_reporting/builds/218872955) fails in a couple places:
- Can't find `threeparttablex` Latex package and apparently unable to download it on the fly.
[code]

- Also getting error about `xtable`, which I thought was already in the lockfile.

[code]

[2021-03-03 22:33] nhejazi commented on #87
This seems resolved now that #85 has been merged. Closing but feel free to re-open if necessary.

[2021-03-03 22:33] #87 closed

[2021-03-04 01:34] nhejazi commented on #95
Resolved as of ead3084

[2021-03-04 01:34] #95 closed

[2021-03-04 01:36] benkeser commented on #79
@KenLi93 @yiwenlu  Any updates on this?

[2021-03-04 01:37] benkeser commented on #73
Any updates on this?

[2021-03-04 01:38] benkeser commented on #88
@Larsvanderlaan any update on this?

[2021-03-04 01:50] yiwenlu commented on #79
Hi David,

Not yet. I’m checking this with Kendrick.

Yiwen

[2021-03-04 02:40] nhejazi opened #97 "`ylim` plotting error in `cor_coxph`"
The automated Travis builds are running into an error due to non-finite `ylim` values in a call to `plot()`, in `cor_coxph` (https://travis-ci.com/github/CoVPN/correlates_reporting/builds/218921367#L2899). With a fresh clone from the `travis_fix` branch, are you able to replicate this @youyifong?

[2021-03-04 03:14] KenLi93 commented on #79
Hi David,

This problem was fixed in the recent pull requests.

Best regards,
Kendrick

On Wed, Mar 3, 2021, 5:52 PM Yiwen Lu <notifications@github.com> wrote:

[2021-03-04 04:01] youyifong commented on #97
I tried this but got an error:

yfong@volta:~/tmp$ git clone
https://github.com/CoVPN/correlates_reporting/tree/travis_fixes
Cloning into 'travis_fixes'...
fatal: repository '
https://github.com/CoVPN/correlates_reporting/tree/travis_fixes/' not found

Might have to do with credentials? I have a token, but not sure how to use
it from command line.

On Wed, Mar 3, 2021 at 6:40 PM Nima Hejazi <notif

[2021-03-04 04:10] Larsvanderlaan commented on #88
This should be fixed in the latest pull request #98.
Thank you for your help!

[2021-03-04 05:49] youyifong commented on #97
I just did a fresh build:

make data_processed
then cor_coxph/make

using PR #99 and it worked.

Is your marginalizedRisk installed from CRAN or github
youyifong/marginalizedRisk ?

On Wed, Mar 3, 2021 at 8:01 PM Youyi Fong <youyifong@gmail.com> wrote:

[2021-03-04 07:03] nhejazi commented on #97
Excellent news re: #99, will merge if the Travis build is passing. It looks like the package version is installed from GitHub (https://github.com/CoVPN/correlates_reporting/blob/travis_fixes/renv.lock#L1055) so should be up to date.

[2021-03-04 07:54] youyifong commented on #97
I got the error too with the travis branch.

On Wed, Mar 3, 2021 at 11:04 PM Nima Hejazi <notifications@github.com>
wrote:

[2021-03-04 08:09] youyifong commented on #97
I figured it out. The error occured because when I set wt.2 to NA for the
subjects not in the population of interest, cor_coxph code broke. I fixed
it in cor_coxph, but at around the same time, my fork got detached. If PR99
and travis_fix can be merged, it should work.

On Wed, Mar 3, 2021 at 11:53 PM Youyi Fong <youyifong@gmail.com> wrote:

[2021-03-04 14:48] #79 closed

[2021-03-04 14:53] benkeser commented on #97
#99 has now been merged into #96. If build confirms, will merge into `master`.

[2021-03-04 16:49] benkeser opened #100 "problems with `glmnet` learner in `cor_thresh`"
The current build fails in `cor_thresh` running `Run_Threshold_analysis.R`

[code]

_Originally posted by @benkeser in https://github.com/CoVPN/correlates_reporting/issues/96#issuecomment-790758525_

[2021-03-04 17:57] Larsvanderlaan commented on #100
Hi David,

Is this using the latest version of the threshold code? Or is this based on the code from before yesterday's pull-request?

If the latter, I believe this error is caused because the synthetic dataset "practice_data.csv" generates a few NA weights (variable "wt") for individuals in the "TwophasesampInd ==1 & Trt == 1 & Bserostatus == 0 & Perprotocol == 1" subgroup, which is the subgroup

[2021-03-04 17:59] benkeser commented on #100
Thanks, yes, the `NA` weights were introduced by @youyifong and have caused a lot of problems. @youyifong , could you advise on the best action? In the graphics folders, I've just been setting the missing values to 0, which logically makes sense to me. But maybe I'm overlooking something.

[2021-03-04 18:07] youyifong commented on #100
In the case of cor_coxph, the trouble it caused is a good thing because it
exposed a bug in the original code.

Subsetting by !is.na(wt) if needed is the best course of action I think
since dat.mock is usually not the population of interest.

Let's discuss this more tomorrow.

On Thu, Mar 4, 2021 at 9:59 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-04 18:56] cyu-hvtn commented on #73
Still working on it. I missed some changes in the SAP that need to be addressed in my code. My estimation is to finish by tonight.

[2021-03-04 19:08] benkeser opened #101 "NA's in violin plots"
@yiwenlu @KenLi93

I'm seeing an NA category generated now in the violin plots in `cor_graphical`. I think it's probably down to the missing values for `wt`.

<img width="514" alt="Screen Shot 2021-03-04 at 2 07 33 PM" src="https://user-images.githubusercontent.com/17482713/110016426-00f6bf00-7cf3-11eb-8df3-fccfb972fb5a.png">

[2021-03-04 22:05] yiwenlu commented on #101
Hi David,

I just sent a pull request which should be able to fix this.

Yiwen

[2021-03-04 22:16] benkeser opened #103 "Empty subfolders"
@cyu-hvtn @Larsvanderlaan @youyifong @yiwenlu @KenLi93

Just a note that if you save output to a subfolder of `output` or `figs` or `data_clean`, you need to manually upload that folder to GitHub. Do this by placing an empty file named `.gitkeep` in the empty directory and committing the result.

For example, say my code in `cop_mediation` generates a figure that I want to save in `cop_mediation/f

[2021-03-04 22:17] benkeser commented on #103
This is more of an FYI. There's not really a TO-DO at the moment for this, as I've been manually doing this for you. But as soon as we have a stable build on travis, I will not be doing these type of edits for your sub folders and will expect you to fix your PRs so that it does not destroy the stable build.

[2021-03-04 22:18] benkeser commented on #100
@Larsvanderlaan can you join our call tomorrow to get on the same page about this?

[2021-03-04 22:29] Larsvanderlaan commented on #100
Hi David,
Thank you for your help. It would be great to join the call. Could you message me the meeting time/zoom link?
I do have two Visiting Days tomorrow but I will try my best to attend the call.

[2021-03-04 22:31] benkeser opened #104 "build branch"
@nhejazi @thebioengineer
Brain storm here -- and it's late in the day, so this might not make sense -- what if we instituted a `build` branch of the repo. The idea is that only Travis would push to this branch after successful builds, but this branch __would__ include derived (binary) output files.

This may be convenient for contributors for pulling derived objects from other folders to confirm t

[2021-03-04 22:32] benkeser commented on #100
Sent meeting info to your berkeley address.

[2021-03-04 22:42] thebioengineer commented on #104
I think that sounds interesting as well. Kind of reminds me of packages that use {pkgdown} to build sites for them automatically would have travis (now gh actions) push to a gh_pages branch.

[2021-03-04 22:50] youyifong commented on #100
Hi Lars, thanks for trying to join the call tomorrow. Sorry for not
informing you of this earlier. To give some context on this recent change
in data preprocessing, I realized that in the previous definition of wt, I
had given everybody a weight, even the people not in the intended
population. The new line is the line that ends with NA. Alternatively, we
can set it to 0, as David suggested.
Best,

[2021-03-05 02:40] thebioengineer commented on #103
@nhejazi - Making sure you have not done this yet. I think it makes sense to add to contributing guidelines and I can throw it in a branch tonight and open a PR

[2021-03-05 05:58] nhejazi commented on #103
I haven’t done this yet — would be great to have it in the guidelines @thebioengineer

[2021-03-05 06:17] thebioengineer commented on #103
See #108

[2021-03-05 06:38] nhejazi commented on #104
I think this could be a useful addition but it adds the overhead of dealing with another deploy step to have Travis push to this extra branch as well as to `gh-pages`.

My proposed implementation of this would be to have Travis copy/push all relevant build artifacts (e.g., in the `figs`, `output`, etc., directories of each of the analysis folders to `gh-pages`, as it does already with the built re

[2021-03-05 07:51] nhejazi commented on #103
The contribution guidelines have been updated accordingly by merging #108.

[2021-03-05 13:32] benkeser commented on #104
I like that idea, but the `sync` recipe seems like a bit of a headache to write.

I'm not too worried about the travis pushes, but I don't feel strongly if it's pushing to one branch or two. Probably one is simpler.

[2021-03-05 16:41] nhejazi commented on #97
Seems to be resolved in #96

[2021-03-05 16:41] #97 closed

[2021-03-05 16:51] #103 closed

[2021-03-05 18:51] benkeser opened #109 "warnings in `cox_corph`"
Just wanted to check that the warning generated in `cor_coxph` is nothing to worry about.

[code]

[2021-03-05 19:18] youyifong commented on #109
I just verified that those were from bootstrap replicates. So it is not a
problem.

On Fri, Mar 5, 2021 at 10:51 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-05 19:18] youyifong commented on #109
I just verified that those were from bootstrap replicates. So it is not a problem.

[2021-03-05 19:23] #109 closed

[2021-03-05 19:33] benkeser opened #110 "mock data documentation"
Could we add to `data_clean/README.md` to describe
- `wt.2`
- `NA`s in `wt` and `wt.2` and how to interpret

[2021-03-05 19:36] youyifong commented on #110
we should bring over the documentation in the old data package and wt.2 can
be added in that.

On Fri, Mar 5, 2021 at 11:34 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-05 19:37] benkeser commented on #110
[Is this it](https://github.com/CoVPN/correlates_reporting/blob/master/data_clean/README.md)

[2021-03-05 19:44] youyifong commented on #110
Yes, that's it. I will edit this file.

On Fri, Mar 5, 2021 at 11:38 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-05 20:04] benkeser commented on #110
Resolved by #111

[2021-03-05 20:04] #110 closed

[2021-03-05 20:14] benkeser commented on #100
Moving conversation to #114

[2021-03-05 20:14] #100 closed

[2021-03-05 20:29] benkeser opened #115 "tagging compiled reports with a build ID"
@nhejazi @thebioengineer
It occurs to me that we may want to modify the deploy script for travis builds. Right now, it just clears out the entire gh-pages branch and puts the compiled reports there and pushes back.

Maybe better would be to have a folder for `master` builds and a folder for PR builds that includes reports where the name includes the PR number or the travis build ID or something. T

[2021-03-05 20:34] thebioengineer commented on #115
Yeah. Clearing out the entire gh_pages after each build is less than ideal. Could Travis just hold the artifacts for the builds, and only push on builds from master/main?

[2021-03-05 21:37] nhejazi commented on #115
My preference would be to append the commit hash to each report PDF, since this will allow for exact tracking of where the reports were generated from. PRs will often contain multiple commits, so appending the commit hash will allow for all successful reports from a given PR to be stored in the `gh-pages` branch.

[2021-03-05 21:38] nhejazi commented on #115
I agree that clearing out the `gh-pages` branch each time is a bad idea, especially with multiple open PRs, but I also don't really like the idea of keeping every single successful build. Any thoughts on how to curate what artifacts we keep?

[2021-03-05 22:05] thebioengineer commented on #115
Whatever we decide should go into the `contributing.md` so folks know where to look. I can start sketching up a section on CI in the meantime if that is helpful

[2021-03-05 22:22] benkeser commented on #78
I found the source of this issue. If you have a `%` symbol in `fig.cap` it needs to be escaped as `\\%`. E.g., [here](https://github.com/CoVPN/correlates_reporting/blob/1961a31633eee3f34cb23558ad5605c93cf1dcc6/cor_coxph/report_sub.Rmd#L86)

Could I bother @yiwenlu or @KenLi93  to go ahead and fix in `report.Rmd` any figure with a % in the caption?

[2021-03-05 22:24] benkeser commented on #115
Simplest route might be just to add the PR number in the commit message to `gh-pages`. Then it doesn't matter if we're overwriting `gh-pages` each time, because one could go through the commit history and find the appropriate build?

[2021-03-05 22:32] KenLi93 commented on #78
Hi David,

Thank you for identifying the issue!

Best regards,
Kendrick

On Fri, Mar 5, 2021, 2:23 PM David Benkeser <notifications@github.com>
wrote:

[2021-03-05 23:54] nhejazi commented on #115
@thebioengineer -- I've started a CI section in the contributing document (https://github.com/CoVPN/correlates_reporting/pull/117/files) but please feel free to edit/review and build on it.

@benkeser -- I think that makes sense. The idea is that Travis committing (via your credentials) would include the PR number in the commit message, which (I think) GitHub will link to the PR automatically, rig

[2021-03-06 00:16] nhejazi commented on #115
Giving a go to adding the PR number in Travis commits in cfd9731.

[2021-03-06 13:25] benkeser commented on #101
Resolved by #116

[2021-03-06 13:25] #101 closed

[2021-03-06 13:28] benkeser commented on #78
Resolved in #120

[2021-03-06 13:28] #78 closed

[2021-03-06 13:31] benkeser commented on #73
@cyu-hvtn how's the progress coming? Anything we can do to help?

[2021-03-06 17:05] nhejazi commented on #115
The implemented solution isn’t yet satisfactory — sometimes (I think on merge commits), the environment variable `TRAVIS_PR` is set to false (e.g., https://github.com/CoVPN/correlates_reporting/commit/5cf8890169cea021bd51e49d608b2411ce60898b), leading to the automated commit message being uninformative. This can be resolved by some conditional logic that sets the commit hash in the message instead

[2021-03-06 17:19] nhejazi opened #121 "automated code checks via precommit"
In order to reduce the potential of introducing erroneous code and to enforce uniformity in code style, we should adopt the pre-commit framework. By adding a simple configuration file and installing the pre-commit package, we can run automatic checks that ensure R code is valid, correctly styled (via the `styler` package), and more — all prior to commits being made. More at https://lorenzwalthert.

[2021-03-07 01:17] benkeser commented on #121
I wouldn't put it high on the priority list personally, but if you want to look into it, go for it.

[2021-03-07 04:24] benkeser opened #123 "removing imagemagick dependencies"
@nhejazi @Larsvanderlaan

Getting the threshold report to build on travis was proving to be quite a pain; around a46d530, I started noticing that the table files rendered to `pdf` were not being generated. It seems to be an issue with needing to [configure kableExtra](https://haozhu233.github.io/kableExtra/save_kable_and_as_image.html). This all just seemed like too much, so I moved away from that

[2021-03-07 05:02] benkeser opened #124 "license"
We should probably pick a license to release under

[2021-03-07 05:07] benkeser opened #125 "`NA` in boxplots"
In [most recent `cor` report build](https://github.com/CoVPN/correlates_reporting/blob/gh-pages/covpn_correlates_cor.pdf), there are `NA`s in some boxplots.

Also please fix the overlapping text on the horizontal axis.

<img width="353" alt="Screen Shot 2021-03-07 at 12 05 22 AM" src="https://user-images.githubusercontent.com/17482713/110229658-1c232380-7ed9-11eb-9b23-2b8e0bc7dec4.png">

[2021-03-07 05:10] benkeser opened #126 "issues with RCDF plots"
- `NA`s present
- text in legend cut off
- Also, what does o: and e: mean in the legend?

<img width="748" alt="Screen Shot 2021-03-07 at 12 08 43 AM" src="https://user-images.githubusercontent.com/17482713/110229708-745a2580-7ed9-11eb-8c13-f62b56f483b0.png">

[2021-03-07 05:11] benkeser opened #127 "more transparency in spaghetti plots"
<img width="716" alt="Screen Shot 2021-03-07 at 12 11 33 AM" src="https://user-images.githubusercontent.com/17482713/110229756-b7b49400-7ed9-11eb-84ca-bfe0d94e0856.png">

[2021-03-07 05:14] nhejazi commented on #124
I'll look into this and add one this week. I think it's worth investing some time in reading exactly what makes sense for public analysis code of this flavor.

[2021-03-07 05:14] benkeser opened #128 "horizontal table in cor report"
@youyifong what do you think about turning this figure sideways?

<img width="808" alt="Screen Shot 2021-03-07 at 12 14 20 AM" src="https://user-images.githubusercontent.com/17482713/110229814-21cd3900-7eda-11eb-9f90-434a9c3e9e47.png">

[2021-03-07 05:15] nhejazi commented on #127
These are very had to read. In addition to turning the `alpha` low (maybe `alpha = 0.5`), could we make the lines dashed or dotted?

[2021-03-07 05:19] nhejazi commented on #123
It looks like #114 successfully built, so could we just check this by removing the `imagemagick` dependency and seeing what happens with the build?

[2021-03-07 05:40] Larsvanderlaan commented on #123
Hi David,
I cannot thank you enough for the work you have put into merging my code.
The only places where I used kable/kableExtra were the places you changed. I have sent a pull request removing the "library(magick)" and "library(kableExtra)" calls.

[2021-03-07 09:25] #115 closed

[2021-03-07 09:26] nhejazi commented on #115
cross-linking now works as per 234d43d

[2021-03-07 09:29] #123 closed

[2021-03-07 10:02] nhejazi commented on #124
From some review of license types and recommendations, I actually think this is kind of a hard problem for a code base like this one. Usually, I rely on the MIT license, which is _permissive_ and allows derivative work without much more than license preservation (i.e., derivative work can be closed source). Basically, the downside here is that others can build off of this code base, but keep any a

[2021-03-07 11:28] benkeser commented on #124
I’m good with GPL-3.

________________________________
From: Nima Hejazi <notifications@github.com>
Sent: Sunday, March 7, 2021 5:02 AM
To: CoVPN/correlates_reporting <correlates_reporting@noreply.github.com>
Cc: Benkeser, David <benkeser@emory.edu>; Mention <mention@noreply.github.com>
Subject: [External] Re: [CoVPN/correlates_reporting] license (#124)

From some review of license types and recom

[2021-03-07 17:08] youyifong commented on #128
I like horizontal better because it is more accessible in a way. But I
wonder what Peter thinks.

On Sat, Mar 6, 2021 at 9:15 PM David Benkeser <notifications@github.com>
wrote:

[2021-03-07 21:57] #124 closed

[2021-03-08 03:55] KenLi93 commented on #126
Hi David and Nima,

Thank you for reporting this error! In cohort_event variable there were NAs for subjects with Perprotocol == 0. I will exclude such subjects in the next PR. I will also fix the problem with the legend. The letters o: and e: are supposed to be "placebo" and "vaccine"

[2021-03-08 20:48] #125 closed

[2021-03-08 20:56] benkeser commented on #127
There are lingering issues with transparency even after #135

<img width="626" alt="Screen Shot 2021-03-08 at 3 55 31 PM" src="https://user-images.githubusercontent.com/17482713/110380908-c361a100-8026-11eb-9263-f121a1f7dd3a.png">

[2021-03-08 20:59] benkeser commented on #127
Sorry, was looking at old build

[2021-03-08 21:37] benkeser commented on #127
@KenLi93 I see this is now resolved by #135 in cor report, but not immuno

[2021-03-10 17:34] benkeser commented on #127
Resolved by #137

[2021-03-10 17:34] #127 closed

[2021-03-10 17:34] benkeser commented on #126
Resolved by #135

[2021-03-10 17:34] #126 closed

[2021-03-10 17:35] #88 closed, assigned to Larsvanderlaan

[2021-03-10 17:39] benkeser commented on #128
I guess I meant turning the page to be landscape for example, so that the table is not running into the margin. Not restructuring the table.

[2021-03-10 17:40] benkeser commented on #104
I'm going to close this for now, as it doesn't seem high enough priority to warrant an open issue. If creativity sparks in someone, feel free to re-open.

[2021-03-10 17:40] #104 closed

[2021-03-10 17:46] youyifong commented on #128
That is what I understood. I see that in the book format it does not look
as good as in an article format because the margins are different from an
article. It is a tradeoff. Personally I just don't like having to rotate
the page to see the results.

On Wed, Mar 10, 2021 at 9:39 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-10 17:49] benkeser commented on #128
Ok, no problem; we'll leave it for now.

[2021-03-10 17:52] youyifong commented on #128
Sounds good.

On Wed, Mar 10, 2021 at 9:49 AM David Benkeser <notifications@github.com>
wrote:

[2021-03-24 20:12] #73 closed

[2021-03-24 23:49] benkeser opened #163 "Long build times on travis"
That's always been the case. We've had, at times, to request that code print messages providing status updates so that the builds continue.

I think we need to go back to the travis build logs and git diffs to see what changes may have caused this.

_Originally posted by @benkeser in https://github.com/CoVPN/correlates_reporting/issues/158#issuecomment-806255680_

[2021-03-25 00:37] nhejazi commented on #163
We can circumvent the limit of 10min via `travis_wait X`, which will print to the log every minute for X minutes. I’ve tried this in #158, setting X up to 120.

The Travis build itself has a time limit of 2 hours, so I’ve also, at times, disabled the immunogenicity report builds in #158. Builds with just the CoR report take as long as 2 hours and time out the build job.

[2021-03-26 03:10] benkeser opened #171 "Resolving build errors in immuno report"
I think Chenchen is better suited to lead the response to this one. It is
probably just some light touching-up that needs to be done in the immuno
report code in the merged PR.

On Thu, Mar 25, 2021 at 5:28 PM Nima Hejazi ***@***.***>
wrote:

_Originally posted by @youyifong in https://github.com/CoVPN/correlates_reporting/issues/169#issuecomment-807821923_

[2021-03-26 03:11] benkeser commented on #163
It seems we're getting clean builds again in under the time allotted. Is this issue resolved?

[2021-03-26 05:35] cyu-hvtn commented on #171
I've made some commits fixing the issue but it's not reflecting in the pull request #169
Should I make a new PR?

[2021-03-26 14:18] benkeser commented on #171
Yes make a new PR requesting to merge into [`combine_156_161`](../tree/combine_156_161) branch.

[2021-03-26 14:29] benkeser commented on #171
Thanks, #169 currently building.

[2021-03-26 19:23] benkeser opened #177 "Move tables in front of figures in immuno report"

[2021-03-26 19:23] benkeser opened #178 "Add study name to report titles"

[2021-03-26 19:52] benkeser opened #179 "Flag for adding watermark"
If report is made with mock data, add a water mark that says Mock on every page.

[2021-03-26 19:53] benkeser commented on #171
Resolved in #169

[2021-03-26 19:53] #171 closed

[2021-03-26 20:29] benkeser commented on #83
Will address once and for all in #159

[2021-03-26 20:30] nhejazi commented on #163
This was due to improperly configuring the number of bootstraps and permutations in `cor_coxph/code/params.R`. This was fixed by 23bb07a.

[2021-03-26 20:30] #163 closed

[2021-03-28 14:06] benkeser opened #184 "parameters defined in immuno_tabular"
@cyu-hvtn

The variable `labels.assays.short` is defined both in [`_common.R`](https://github.com/CoVPN/correlates_reporting/blob/9e130821a6228738bbd99efe3d72dce1dca31c5e/_common.R#L84), as well as in [`immuno_tabular/code/make_parameters.R`](https://github.com/CoVPN/correlates_reporting/blob/9e130821a6228738bbd99efe3d72dce1dca31c5e/immuno_tabular/code/make_parameters.R#L187).

Is this redundancy

[2021-03-28 14:15] benkeser opened #185 ">= rendering in forest plots"
Reviewing `_common.R`, I see the variables [`Bstratum.labels` and `demo.stratum.labels` defined](https://github.com/CoVPN/correlates_reporting/blob/9e130821a6228738bbd99efe3d72dce1dca31c5e/_common.R#L89).

I do not see these variables referenced anywhere except for @youyifong 's forest plots. Could we wrap these in a call to `expression()` so that they render as the mathematical symbol in the plot

[2021-03-28 14:31] benkeser opened #186 "`renv` creep"
I suspect that we have consider creep of the `renv` libraries needed for this project. It might be a good idea at some point to provision a fresh set of `renv` libraries to reduce the burden of activating `renv`.

[2021-03-28 14:35] benkeser commented on #186
Removing dependence on `sass` at least would be desirable as `C++` options needed to install this package conflict with those needed to install `kyotil`.

[2021-03-28 15:23] benkeser commented on #184
I went ahead and moved some of these definitions over to `_common.R`.  Checking build now.

The only remaining issue is that [your definition of `labels.assays.long`](https://github.com/CoVPN/correlates_reporting/blob/f1aa7f4684192cb928bbe3e4a0c290370331249a/immuno_tabular/code/make_parameters.R#L183) seems to be different than what's in [`_common.R`](https://github.com/CoVPN/correlates_reporting/

[2021-03-28 17:13] benkeser commented on #177
In commit 3019d8b4db344417cb27a47703bba841fbc0cf1a of PR #159

[2021-03-28 17:54] cyu-hvtn commented on #184
labels.assays.short in _common.R doesn't include the "anti-N antibody" marker. I first redefine to include all markers, then they were selected based on `assays` and `include_bindN` from _common.R at #L199 https://github.com/CoVPN/correlates_reporting/blob/9e130821a6228738bbd99efe3d72dce1dca31c5e/immuno_tabular/code/make_parameters.R#L199

[2021-03-28 17:57] benkeser commented on #184
Yes, but I am referring to `labels.assays.long`

[2021-03-28 18:07] benkeser opened #189 "caption + figure placement"
In new report builds, the formatting can get a bit gory.
- there are very small vertical margins
- Figure captions can be separated from the figures by a page break.

This is a relatively minor issue, but maybe it's a quick fix. Or was this something @nhejazi had to do in order to get the section headings to go to the right spot?

<img width="529" alt="Screen Shot 2021-03-28 at 2 05 44 PM" src="ht

[2021-03-28 18:09] benkeser commented on #177
Solved in #159

[2021-03-28 18:09] #177 closed

[2021-03-28 18:10] benkeser commented on #83
Addressed to greatest extent possible in #159

[2021-03-28 18:10] #83 closed

[2021-03-28 18:52] benkeser opened #190 "Broken Cor coxph"
@youyifong The changes you introduced in fd02b6b1c8caa019ba4d7433f543027602b017bc to revert to old, broken code are causing cor report builds to silently break.

Because this slipped through so long ago, there may have been additional bugs introduced after this commit that we haven't discovered yet. Please replace report code with the working code that I had inserted and re-submit a PR ASAP.

I al

[2021-03-28 18:53] youyifong commented on #185
I tried to do this. It is surprisingly difficult. The labels become part of
a table of text that gets passed to the forestplot package (
https://cran.r-project.org/web/packages/forestplot/index.html) and I got an
error saying:

Error in eval(txt_out) : object 'Age' not found

On Sun, Mar 28, 2021 at 7:15 AM David Benkeser ***@***.***>
wrote:

[2021-03-28 18:56] benkeser commented on #185
Did you try [this](https://cran.r-project.org/web/packages/forestplot/vignettes/forestplot.html#using-expressions)?

[2021-03-28 18:57] benkeser commented on #178
Solved in #188

[2021-03-28 18:57] #178 closed

[2021-03-28 18:57] youyifong commented on #185
yea

On Sun, Mar 28, 2021 at 11:56 AM David Benkeser ***@***.***>
wrote:

[2021-03-28 18:59] youyifong commented on #190
where can I see the errors that are happening now? my code was working
perfectly, some minor updates could have achieved what we were trying do.
the way you changed other people's code was not a good idea.

On Sun, Mar 28, 2021 at 11:52 AM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:04] benkeser commented on #190
They are `WARNINGS` in the travis build files that it can't find certain objects e.g., line 9489 [here](https://travis-ci.com/github/CoVPN/correlates_reporting/builds/221437527).

[code]

When I explored this issue previously, I found that it had something to do with what working directory is being used for `latex`/`pandoc`/`R`. I couldn't find a straightforward solution using straight up latex to

[2021-03-28 19:08] benkeser commented on #185
Interesting. I have no problem rendering expressions in `forestplot` on my machine. E.g.,

It seems like the error you are getting is from `R` trying to evaluate the expression `Age`, so maybe it's just quotes that are needed.

Have you tried formatting as
[code]

or perhaps if you're making a table as
[code]
?

[2021-03-28 19:15] youyifong commented on #185
The labels do not get passed directly to forestplot. Erika Rudnicki helped
write a function to make the plot. It is in cor_coxph.R line 305. I
modified her code to try to get it to work, but it was not enough.

On Sun, Mar 28, 2021 at 12:08 PM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:17] benkeser commented on #190
Agreed that it was less than ideal and I'm sorry for the hassle. But we needed a stable build at that time in order to make progress on other areas and your code was not working when the full report was being built.

As I said at the time, you're more than welcome to change back to whatever you like, but need to do so in a way that works with the travis build. Unfortunately, this particular proble

[2021-03-28 19:20] youyifong commented on #190
let's focus on the problem at hand for now

if the warnings are causing a problem, we should not see the tables. where
can I see the pdf output?

On Sun, Mar 28, 2021 at 12:17 PM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:23] benkeser commented on #190
Sure. [Here](https://github.com/CoVPN/correlates_reporting/blob/gh-pages/covpn_correlates_cor.pdf)

[2021-03-28 19:23] youyifong commented on #190
a lot could have changed in the file, going back would be hard.

On Sun, Mar 28, 2021 at 12:19 PM Youyi Fong ***@***.***> wrote:

[2021-03-28 19:24] benkeser commented on #190
Agreed. Happy to find another workable solution.

[2021-03-28 19:24] benkeser commented on #189
This actually feels like it needs higher priority. The formatting is very awkward in places.

[2021-03-28 19:26] cyu-hvtn commented on #184
Oh sorry I misread! I'm using long names too, pasting short names with the time labels

[2021-03-28 19:26] youyifong commented on #190
The tables in the warnings are all present in the pdf. They are the first
two tables in Ch 3 and 4.

On Sun, Mar 28, 2021 at 12:04 PM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:28] benkeser commented on #190
Great. Weird `WARNING` to throw, but I guess we shouldn't complain.

[2021-03-28 19:28] #190 closed

[2021-03-28 19:31] youyifong commented on #190
I can make some changes to try to get rid of the warnings. Will create a
new PR for it along with changes to remove hard coding of the study name.

On Sun, Mar 28, 2021 at 12:28 PM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:32] benkeser commented on #190
Sounds great, thanks

[2021-03-28 19:47] youyifong commented on #190
Is there a need for me to source _common.R in cor_coxph/report.rmd or is it
sourced at a higher level?

On Sun, Mar 28, 2021 at 12:32 PM David Benkeser ***@***.***>
wrote:

[2021-03-28 19:48] benkeser commented on #190
It will be sourced before each “chapter”. So it’s contents will already be there for everything except yaml header.

From: Youyi Fong ***@***.***>
Reply-To: CoVPN/correlates_reporting ***@***.***>
Date: Sunday, March 28, 2021 at 3:47 PM
To: CoVPN/correlates_reporting ***@***.***>
Cc: "Benkeser, David" ***@***.***>, State change ***@***.***>
Subject: [External] Re: [CoVPN/correlates_reporting] Brok

[2021-03-28 20:01] benkeser commented on #185
Solution in #191

[2021-03-28 20:01] #185 closed

[2021-03-28 20:02] benkeser commented on #184
Ok that's fine for now. It just overwrites a variable by the same name read in from `_common.R`. I added a comment indicating as such for posterity.

[2021-03-28 20:02] #184 closed

[2021-03-28 20:24] benkeser commented on #179
Resolved in #187

[2021-03-28 20:24] #179 closed

[2021-03-28 22:50] nhejazi commented on #186
Could you say a bit more about this @benkeser? I updated the `renv` library to the most recent version of all packages in #182, but this seems to suggest that there are conflicting non-`R` dependencies.

[2021-03-28 23:05] nhejazi commented on #189
From some manual `git` bisection, it looks like the formatting issues were introduced by #158, which was intended to fix the section labeling. This is clear from inspecting report builds before/after merging of that PR; for example, in the CoR report:
* before: https://raw.githubusercontent.com/CoVPN/correlates_reporting/d903dff1b767ecde86772b7b7245722f0fa8c850/covpn_correlates_cor.pdf
* after: ht

[2021-03-28 23:09] nhejazi commented on #189
#193 endeavors to fix this.

[2021-03-28 23:10] benkeser commented on #186
Not conflicting. Just there are more packages in the lock file than are strictly used by the code at this point.

[2021-03-29 00:10] benkeser opened #195 "page numbers off in TOC"
???

Is it a need to run pdflatex multiple times thing?

Googling did not turn up much...

[2021-03-29 00:38] nhejazi commented on #195
Maybe related, https://github.com/rstudio/bookdown/issues/708, but this might be more work than it's worth to track down / fix. Do we need the ToC?

[2021-03-29 00:44] nhejazi commented on #186
We could try to have `renv` regenerate the lockfile by removing/re-initializing the `renv` virtual environment, but this shouldn't be necessary. My understanding is that `renv::dependencies()` scrapes all parts of the repo and builds the dependency list from packages it finds. It also does tag packages for removal from the lockfile when `renv::status()` is run (and updates the lockfile upon callin

[2021-03-29 00:45] benkeser commented on #186
Ok let's revisit after this week.

[2021-03-29 02:05] benkeser commented on #195
A clickable TOC is nice.

I can't turn up any info on this sort of behavior. Probably, we'd have to save the `tex` of a build and stare at that to see what's going on.

[2021-03-29 03:08] nhejazi commented on #195
Sure, we can just add `keep_tex: yes` to the format specs in `_output.yml` to preserve the TeX files

[2021-03-29 03:41] nhejazi commented on #189
Removal of the `"H"` float option results in a LaTeX error: `! LaTeX Error: Too many unprocessed floats.`, which no combination of other `figure.pos` specifications seem to fix.

[2021-03-29 03:42] benkeser commented on #189
Yes unfortunately I think that's why we went to `H` in the first place.

[2021-03-29 04:17] benkeser opened #196 "cor report with only subset of assays"
I am just wrapping up #194, which allows the immuno report to build for any subset of `assays` and days (29/57).

It seems that our first analyses may not include all four assays and possibly only Day 57 markers, so I'd like to get our code to a place where it can run without requiring this.

@yiwenlu `cor_graphical` currently breaks (see [line 6008 here](https://travis-ci.com/github/CoVPN/correla

[2021-03-29 05:18] nhejazi commented on #189
Adding `\clearpage` in front of every Rmd chunk in `cor_graphical/report.Rmd` seems to somewhat alleviate this.

How does the formatting in that section of [this build](https://github.com/CoVPN/correlates_reporting/blob/97cffc957cb331a3acc8bf642b1346d766625eb5/covpn_correlates_cor.pdf) look? The (top) margins still seem to small to me but we might be able to fix this easily with an Rmd or bookdown

[2021-03-29 05:19] nhejazi commented on #195
Another idea would be to maybe suppress page numbers in the ToC. Since the convenience comes from having a clickable ToC, I don’t quite see why anyone would actually care about the page numbers

[2021-03-29 11:21] benkeser commented on #195
But the links also weren’t taking to correct pages.

[2021-03-29 14:12] benkeser commented on #196
@youyifong @thebioengineer A note that if `times` is changed in `_common.R` e.g., `times <- c("B", "Day57")`, the [initial data processing script breaks](https://travis-ci.com/github/CoVPN/correlates_reporting/builds/221502155).

[2021-03-29 15:19] benkeser commented on #195
The page number issue with TOC can be resolved by running `pdflatex` on the `tex` document __three times__ as described [here](https://tex.stackexchange.com/questions/120847/wrong-page-numbering-in-the-table-of-contents-of-figures-and-of-tables).

__Proposed solution__
- add `keep_tex: true` to `_bookdown_*.yml`
- modify `_build.sh` to:
  - `render_book` (I *think* this will call `pdflatex` twice)

[2021-03-29 15:23] benkeser commented on #195
Answer, it turns out, yes.

[2021-03-29 15:29] benkeser commented on #195
@nhejazi Do you want me to submit a separate PR for this or integrate into #193 ?

[2021-03-29 15:38] benkeser commented on #189
The issue with margin seems to be the [use of `newgeometry` here](https://github.com/CoVPN/correlates_reporting/blob/7c008880f69ce78056d522425ab9bae2a596c0b2/immuno_tabular/report.Rmd#L24).

The default in `bookdown` seems to be
[code]

Resetting `newgeometry` at the end of `report.Rmd` should work. Testing now.

[2021-03-29 15:39] nhejazi commented on #195
Let’s just integrate this into #193. Feel free to push or lmk and I can alter the relevant build scripts

[2021-03-29 15:42] nhejazi commented on #189
Got it, that’s a good catch. The margin call to `geometry` is already set in latex/preamble.tex (even if it weren’t a bookdown default) so it should be sufficient to just undo the `newgeometry` call after the horizontal table, or just remove that call altogether.

[2021-03-29 15:43] benkeser commented on #189
I think the call is needed to fit the landscape tables on a page. Or I assume so. @cyu-hvtn?

[2021-03-29 15:44] nhejazi commented on #189
Also, if you could confirm whether the solution with `\clearpage` looks alright in the CoR report, I can just manually add that change throughout the remainder of the report.tex files.

[2021-03-29 15:47] benkeser commented on #189
Yes, the `\clearpage` looks right. I would go ahead and put it everywhere in `immuno_graphical` and `cor_graphical`

[2021-03-29 15:48] cyu-hvtn commented on #189
Yes, I changed the margins for the landscape tables. I can add some lines to change it back to` \usepackage[margin=1in]{geometry}` at end of my tables

[2021-03-29 15:48] benkeser commented on #189
This works. I just added line

[code]

on the last line of `immuno_tabular/report.Rmd`

[2021-03-29 15:49] youyifong commented on #196
It is a rather massive change ...

On Mon, Mar 29, 2021 at 7:13 AM David Benkeser ***@***.***>
wrote:

[2021-03-29 15:49] benkeser commented on #189
I think @nhejazi will go ahead and add to #195

[2021-03-29 15:53] benkeser commented on #196
Yes, perhaps nothing needs to happen immediately, but it may be desirable to start addressing the issue soon, since we know JnJ will not have Day29 and Day57.

Right now, if we only have data on Day57 markers (seems likely for Moderna initial run), we will need to arbitrarily fill in `Day29` markers so that the code runs. That's fine; we can still get results, but it increases build time unnecessa

[2021-03-29 16:04] youyifong commented on #196
Good point. I am going to submit a new PR with a new data processing
script.

Elllis, I also checked in a new spec and will send you a link to the new
processed data.

Best,
Youyi

On Mon, Mar 29, 2021 at 8:54 AM David Benkeser ***@***.***>
wrote:

[2021-03-29 16:05] thebioengineer commented on #196
Thanks for the heads up. Send me the new data to be verified against when you get a chance!

[2021-03-29 17:51] nhejazi commented on #189
1d69a3f fixes the `geometry` and `\clearpage` issues. This issue is resolved by #193

[2021-03-29 17:56] nhejazi commented on #195
Have we verified that this is resolved by 0a0222e? If so, let's mark this as resolved by #194 and not introduce the redundant change in #193

[2021-03-29 17:59] benkeser commented on #195
No, still build errors to resolve.

[2021-03-29 19:56] benkeser commented on #195
Well, this was a huge pain in the ass to figure out. Crawling out of a very deep rabbit hole. d38f829f2ff98185750de0f2189dbd19742f2358 seems to address this at least locally for me.

[2021-03-29 21:54] benkeser commented on #195
Fixed in #194

[2021-03-29 21:54] #195 closed

[2021-03-29 22:18] #189 closed

[2021-03-30 00:22] benkeser commented on #48
I think the moral of this story is that as long as the approach is described well enough in the specs, then there doesn't need to be a unified handling of it.

I'm going to close the issue for now; but can reopen if anyone has any more thoughts.

[2021-03-30 00:22] #48 closed

[2021-03-30 00:23] benkeser commented on #121
Closing until @nhejazi feels inspired.

[2021-03-30 00:23] #121 closed

[2021-03-30 09:45] benkeser opened #207 "warning in base_riskscore"
In [a recent build](https://travis-ci.com/github/CoVPN/correlates_reporting/builds/221617265), I am seeing the following warning (line 1435 of build log) when `code/tables_figures.R` is executed:

[code]

@brborate can you confirm whether this warning is OK to ignore? The report still builds, but not clear if it's as expected or not. For verification purposes, I can't look into the issue further m

[2021-03-30 09:56] benkeser commented on #186
Closing for now, since apparently `renv` handles all this.

[2021-03-30 09:56] #186 closed

[2021-03-30 10:01] benkeser opened #208 "travis build times"
With the new addition of the baseline risk score report, we are going to be pushing report build times on travis close to the 120 minute limit. Once a cop report is added, we'll almost certainly go over.

Would like to be proactive in our thinking about how to address this going forward.

Possible solutions:
- make travis build default to only building reports for subset of `assays`, which should

[2021-03-30 10:41] benkeser opened #210 "formatting of risk score report"
A few minor formatting comments on the risk score report:
- There is inconsistency in the way super learner is written -- at times it's superlearner, Superlearner, or SuperLearner. Can we pick one form of spacing/capitalization and apply uniformly throughout report?
- Figure 1.1
  - could we write in words what `EventIndPrimaryD57` means in the figure title instead of referencing the variable name

[2021-03-30 11:02] benkeser opened #211 "integrating risk scores into CoR methods"
@nhejazi @brborate, could you provide @youyifong and @Larsvanderlaan an overview of where and how the risk scores are saved after they've been calculated? We'll then look for PRs with updates to `cor_coxph` and `cor_threshold` that adjust for these risk scores.

[2021-03-30 14:05] nhejazi commented on #211
Upon a successful run, the baseline  risk score workflow adds a new file to the top level `data_clean` directory: https://github.com/CoVPN/correlates_reporting/blob/master/base_riskscore/code/append_risk_score_to_data.R

in the CoR (and CoP) analyses, it should be sufficient to still use the `data_name` variable exported by `_common.R`, loading instead a version of the file with the string “_with_

[2021-03-30 15:27] brborate commented on #211
Thanks Nima, this appending to the CSV file in the data_clean directory looks great!

[2021-03-30 15:49] youyifong commented on #211
Thanks. Is there a make command to produce the data file with riskscore?
Youyi

On Tue, Mar 30, 2021 at 8:27 AM Bhavesh Borate ***@***.***>
wrote:

[2021-03-30 15:55] benkeser commented on #211
`make risk_analysis`

[2021-03-30 16:00] youyifong commented on #211
I refreshed again and see it now. Thanks.

On Tue, Mar 30, 2021 at 8:56 AM David Benkeser ***@***.***>
wrote:

[2021-03-30 17:17] benkeser opened #212 "robustifying data processing script"
`mice` seems to count on correlation between variables being not too high.

Including options `diagnostics = FALSE , remove_collinear = FALSE` mitigates this to some extent, but does not handle case of perfect correlation. It seems this needs to be hardcoded in the data processing script.

[2021-03-30 18:15] benkeser opened #214 "cleaning out `gh-pages` branch"
At some point, we probably want to delete/re-initiate `gh-pages`. `clone`ing the repo is getting quite slow. I think from all the large diffs induced by the pdfs on that branch.

@nhejazi @thebioengineer any ideas on this? Just manually delete and then re-open an empty branch by the same name?

[2021-03-30 18:30] benkeser commented on #214
Just make it more complex instruction-wise to access. I'm fine with it though if that's what we want to do.

[2021-03-30 18:48] nhejazi commented on #214
I think we should just have a "How to clone" statement in the README. That way, anyone can just clone by copying the line anyway, even if unfamiliar with Git / version control.

[2021-03-30 18:49] benkeser commented on #214
Sounds good. And also include in `aws_build_instructions.md`

[2021-03-30 20:05] youyifong commented on #211
I am getting this error when I do "make risk_analysis". Any ideas?

In readChar(con, 5L, useBytes = TRUE) :
  cannot open compressed file
'.../correlates_reporting/base_riskscore/output/objects_for_running_SL.rda',
 probable reason 'No such file or directory'
Execution halted

On Tue, Mar 30, 2021 at 9:00 AM Youyi Fong ***@***.***> wrote:

[2021-03-30 20:15] brborate commented on #211
It seems "make risk_analysis" is not setting the "make all" within base_riskscore to action as expected.

[2021-03-30 21:03] brborate commented on #207
updated this, will add it in the current PR.

[2021-03-30 21:05] brborate commented on #210
@benkeser Am working on this. Will update shortly.

[2021-03-30 21:28] benkeser commented on #211
Could it be because the `Makefile` does not specify dependencies between components of the analysis? @brborate, do you have certain recipes that rely on the output of other recipes? If so, they should be added after `:` in the `Makefile` to make sure things execute in the proper order. It might compile on your machine because you already have some output saved locally.

[2021-03-31 02:25] brborate commented on #211
@benkeser @youyifong  I checked details and I have no output saved locally. Re-running from scratch still is working at my end.

Youyi: Do you want to chat over a Slack call today evening (9 PM) or tomorrow morning (say 9 AM)?

Best,

Bhavesh

[2021-03-31 07:49] nhejazi commented on #212
Resolved by #213

[2021-03-31 07:49] #212 closed

[2021-03-31 07:55] nhejazi commented on #207
Which was the PR in which this was addressed? Was it #215?

[2021-03-31 07:55] brborate commented on #211
Hi @nhejazi, Youyi and I will be chatting tomorrow at 11.30 AM. Are you available during this time?

[2021-03-31 07:57] brborate commented on #207
#215 only caters to xgboost version.  Rest of the changes requested by David will be addressed in upcoming update, mostly by tomorrow.

[2021-03-31 08:11] nhejazi commented on #211
Got it, I would be free 1130a-12p tomorrow so I can try to join you during that window.

[2021-03-31 08:59] benkeser commented on #210
Is it worth making a similar figure for SL predictions in vaccine recipients? Might be nice to see the distribution of the risk score used in the downstream analyses.

[2021-03-31 10:16] benkeser opened #216 "sl verification mismatch"
I am getting a match on risk scores with the verification code, but no longer am matching on CV-AUCs.

We previously had a match on CV-AUCs and my code for this part hasn't changed. The most likely explanation seems to be a discrepancy in random seed being set. I wonder if this changed when @nhejazi integrated the code into the main repo? @brborate and @nhejazi, could you take a look at the specs

[2021-03-31 10:18] benkeser opened #217 "bug in immuno graphical"
Moderna reports a bug in immuno graphical on the real data run

![image](https://user-images.githubusercontent.com/17482713/113129475-f09a0d00-91e8-11eb-83f1-2791be6541ec.png)

[2021-03-31 10:19] benkeser commented on #217
Possible culprits for @KenLi93 to check: empty strata or constant marker values in a stratum

[2021-03-31 10:20] benkeser opened #218 "bug in cor_tabular"
Moderna reports a bug in `cor_tabular` code.

![image](https://user-images.githubusercontent.com/17482713/113129683-2fc85e00-91e9-11eb-934a-4c9c5ea402e0.png)

[2021-03-31 13:25] benkeser opened #219 "verification to travis checks"
As more verification code rolls in and programatic comparisons are implemented, do we want to add these comparisons to the travis build?

On the plus side:
- more robust checks of new code

On the minus side:
- Could slow down merging of PRs if we need to resolve conflicts between programmer and tester

I would probably vote no at this point. But wanted to check with @thebioengineer @nhejazi

[2021-03-31 13:27] benkeser commented on #208
I tried this for my class website. It was harder than expected and I never got it quite working. I don't remember the issue exactly; maybe it was that it's difficult to set up a set of rules for when each build should be triggered based on git diffs?

[2021-03-31 14:32] thebioengineer commented on #219
Verification is usually applied as one of the last checks of data and code quality. My thoughts currently are to get just the verification code together, and outputs verified. Then, since so much updates and changes, make them as programmatic as possible to reduce extra work for the testers. This would include turning them into "make-able" folders that would run the verification code and compare v

[2021-03-31 14:33] benkeser commented on #219
The nays carry the day.

[2021-03-31 14:33] #219 closed

[2021-03-31 17:03] benkeser commented on #217
What are the variables you are using for facets in these plots?

[2021-03-31 17:38] nhejazi commented on #216
You're right about a difference being introduced with setting the random seed. Prior to some recent changes, the code prior to the CV-AUC calculation explicitly had a call `set.seed(20210216)`, which I removed. That same seed is explicitly set (via `set.seed` in @brborate's code and via the `seed` argument of `mice` in your code), so upstream processing like imputation remains the same. Reintroduc

[2021-03-31 17:41] nhejazi commented on #208
I'd still like to give this a shot, since it should be as easy as checking the directories changed by the most recent PR and building only the corresponding reports. It might get a bit trick to parse out this information across numerous commits in a PR, but it also implicitly enforces good git hygiene, i.e., if your PR isn't building because you changed files across three different reports (due to

[2021-03-31 17:43] benkeser commented on #208
Maybe after the stochastic cop code is done?

[2021-03-31 17:45] nhejazi commented on #216
@brborate Would you mind adding `set.seed(20210216)` before this line (https://github.com/CoVPN/correlates_reporting/blob/master/base_riskscore/code/run_cvsl_riskscore.R#L112) in your forthcoming PR to resolve other issues related to the baseline risk score code? Once this has been re-added, @benkeser should be good to re-run his verification code.

[2021-03-31 17:46] brborate commented on #216
Thanks Nima and David, ya this should fix it, I think too.

[2021-03-31 17:46] benkeser commented on #216
I thought in the specs that there were different seeds set prior to the CV SL run. So I'll just let @brborate let me know how he wants to proceed. Previously, when we were using 10 seeds, we generated those seeds randomly and set them prior to call to CV SL. But now we are just running CV SL once, so maybe we can simplify.

[2021-03-31 18:39] KenLi93 commented on #217
Hi David,

I used a transformed variable if "dat.twophase.sample$assay" for faceting.

Thanks,
Kendrick

On Wed, Mar 31, 2021 at 10:09 AM David Benkeser ***@***.***>
wrote:

--
Kendrick Li

Department of Biostatistics

University of Washington

He/Him/His

[2021-03-31 18:44] benkeser commented on #217
So here the facet is by assay?

[2021-03-31 18:59] KenLi93 commented on #217
Yes, the spaghetti plots are faceted by assay.

On Wed, Mar 31, 2021, 11:45 AM David Benkeser ***@***.***>
wrote:

[2021-03-31 19:00] benkeser commented on #217
So will this code break if there are any missing values of an assay? Or they are all missing? Or what?

Also, will this code work if only a subset of the 4 assays are used? E.g., we only want to make plots for binding antibodies?

[2021-03-31 19:27] brborate commented on #216
I have added the seed before running CV SL.  👍

[2021-03-31 19:28] benkeser commented on #216
So prior to the call to `CV.SuperLearner` you are setting seed 20210216?

[2021-03-31 19:32] brborate commented on #216
that's correct. Though I see we are not running CV SL with any random seed as we are running it only once, but I wonder if this takes care of any randomness occurring within CV SL function itself.

[2021-03-31 19:37] benkeser commented on #216
As long as we set the same seed prior to the run. And as long as our algorithms in the library are coded in the same order (they are), we should be OK.

[2021-03-31 19:40] KenLi93 commented on #217
Hi David,

I checked with the mock dataset and there seems no problem if the dataset
only contains one assay.

The code will not break even if all the values of an assay are missing --
there would just be no curves in the plots.

The code will break if the variable "assay" is missing. One solution is to
change the "assays" variable in "_common.R" file so that the variable only
includes the assays

[2021-03-31 19:44] benkeser commented on #217
Thanks. Any idea about the line in the error that says `NA`s introduced by coercion?

[2021-03-31 19:53] KenLi93 commented on #217
Hi David,

The warning could happen if there are subjects whose Bserostatus or Trt
variables are unavailable. One way to resolve this is to filter out
subjects with is.na(Bserostatus) == TRUE.

Besides, the code requires the real data codes the baseline serostatus and
treatment the same way as the mock data; i.e.
Bserostatus = 1 -- Baseline positive
Bserostatus = 0 -- Baseline negative
Trt = 1 --

[2021-04-01 15:02] nhejazi commented on #216
Setting of the seed was competed in #222 so if you’re good to re-check the verification code than we can close this @benkeser

[2021-04-02 18:59] benkeser commented on #217
Should be fixed in #232

Will close issue when build completes.

[2021-04-02 20:02] benkeser commented on #218
@cyu-hvtn, could you confirm that #225 will eventually fix this?

[2021-04-02 20:06] cyu-hvtn commented on #218
Yes

[2021-04-06 14:25] #217 closed

[2021-04-06 14:25] benkeser commented on #218
Any updates on this?

[2021-04-06 21:02] cyu-hvtn commented on #218
Almost done! Made some other updates too

[2021-04-06 23:08] benkeser commented on #211
Completed with #241

[2021-04-06 23:08] #211 closed

[2021-04-06 23:09] #210 closed

[2021-04-07 01:18] benkeser commented on #218
Fixed in #225

[2021-04-07 01:18] #218 closed

[2021-04-07 16:54] #207 closed

[2021-04-08 17:59] yiwenlu commented on #196
@yiwenlu `cor_graphical` currently breaks (see [line 6008 here]

@benkeser Could you help test if this is still breaking? I have tried many times but it works on my machine.

[2021-04-08 18:09] benkeser commented on #196
What specific settings in `_common.R` are you wanting to check?

[2021-04-08 18:09] benkeser commented on #196
Just open a PR with `_common.R` changed to a subset of `assays` and either `Day29` or `Day57` only. That will trigger a build and we can see if it works or not.

[2021-04-14 00:23] benkeser opened #257 "IU LLOD breaks cor_ code"
From @youyifong

@KenLi93, could you take a look and see what's going on?

_Originally posted by @youyifong in https://github.com/CoVPN/correlates_reporting/issues/255#issuecomment-818992722_

[2021-04-14 01:53] KenLi93 commented on #257
Hi David,

The CoR graphics with the current build has no issues. Could you point out
which changes you were referring to?

Thanks,
Kendrick

On Tue, Apr 13, 2021 at 5:25 PM David Benkeser ***@***.***>
wrote:

--
Kendrick Li

Department of Biostatistics

University of Washington

He/Him/His

[2021-04-14 01:55] benkeser commented on #257
#255

[2021-04-14 06:00] KenLi93 commented on #257
Hi David,

I ran Youyi's branch on my  local machine and found no errors in CoR graphs.

[2021-04-14 14:20] youyifong commented on #257
Hi Kendrick, thanks for confirming this. I don’t quite understand this.
Looking at the log file again I see another earlier error:

Day29bindNResp -- AgeMinorC
2442Day29bindNFR2 -- All
2443Error in family$linkfun(mustart) :
2444  Argument mu must be a nonempty numeric vector
2445Calls: get_rr ... glm -> eval -> eval -> glm.fit -> <Anonymous> -> .Call
2446In addition: There were 50 or more warnings

[2021-04-14 15:06] KenLi93 commented on #257
Hi Youyi,

It seems the function glm.fit couldn't decide its initial values, possibly due to an empty dataset. Since @cyu-hvtn is more familiar with the immunogenicity tables, would you like me to ask her about this?

Thanks,
Kendrick

[2021-04-14 17:00] benkeser opened #261 "Data clean QC report"
To help sanity check the data cleaning process, it will be useful to have a QC report generated as part of the `data_clean` procedure.

[2021-04-14 18:27] youyifong commented on #257
Peter has confirmed the scaling of the llods etc. So this code change is
ready to be propagated to the rest of the project. Would
 be great if you can work with Chen chen on this.
Thanks,
Youyi

On Wed, Apr 14, 2021 at 8:06 AM KenLi93 ***@***.***> wrote:

[2021-04-17 02:55] youyifong commented on #257
I merged in the latest code from upstream Master and got this error:

here() starts at /home/travis/build/CoVPN/correlates_reporting/cor_graphical
13684Error in seq_len(n) : argument must be coercible to non-negative integer
13685Calls: ggsave2 ... f -> <Anonymous> -> f -> dapply -> split_with_index
13686In addition: Warning messages:
136871: Removed 1848 rows containing non-finite values (stat_yd

[2021-04-17 03:15] benkeser commented on #257
@KenLi93 any ideas?

[2021-04-17 03:40] KenLi93 commented on #257
Hi Yiwen,

Please see below for Youyi's message.

Best regards,
Kendrick

On Fri, Apr 16, 2021 at 7:56 PM Youyi Fong ***@***.***> wrote:

--
Kendrick Li

Department of Biostatistics

University of Washington

He/Him/His

[2021-04-17 03:40] KenLi93 commented on #257
Hi Yiwen,

Please see Youyi's message below. It appears there is an error with the
cor_graphical code related to the ggsave2 function. Could you please take a
look?

Thanks,
Kendrick

On Fri, Apr 16, 2021 at 8:15 PM David Benkeser ***@***.***>
wrote:

--
Kendrick Li

Department of Biostatistics

University of Washington

He/Him/His

[2021-04-17 04:01] youyifong commented on #257
I found a bug in my data processing code that affected the delta variables
when the conversion factors are applied. I am testing a fix locally now.

On Fri, Apr 16, 2021 at 8:40 PM KenLi93 ***@***.***> wrote:

[2021-04-17 04:32] youyifong commented on #257
The bug fix did not resolve this error. The exception happened in
cor_grahical/code/cor_graphics_violin_scatter.R line 110:

          p <- myplot(dat=subset(longer_cor_data_plot1, assay==plots[i] &
Bserostatus==bstatus[j] & Trt==trt[k] & !is.na(value) & time %in%
unlist(times[t])),
                      dat.sample=subset(plot.25sample1, assay==plots[i] &
Bserostatus==bstatus[j] & Trt==trt[k] & !i

[2021-04-17 05:11] KenLi93 commented on #257
Hi Youyi,

Thank you for the fix! I copied your message to Yiwen, who is more familiar
with the code for violin plots and scatter plots.

Yiwen: when you have time, could you please take a look at the errors that
occurred with the new dataset?

Best regards,
Kendrick

On Fri, Apr 16, 2021, 9:32 PM Youyi Fong ***@***.***> wrote:

[2021-04-19 16:16] benkeser opened #266 "risk score report time out error"
@brborate, the risk score report occasionally stalls because no output has been received. It's not a bug in the code, just what travis expects. Is it possible to turn `verbose` on in your `SuperLearner` calls to see if this helps?

[2021-04-19 18:45] benkeser commented on #266
#267

[2021-04-19 18:45] #266 closed

[2021-04-19 22:06] benkeser commented on #257
Resolved with #255

[2021-04-19 22:06] #257 closed

[2021-04-23 14:00] benkeser opened #277 "noting commit hash in report"
@nhejazi @thebioengineer what do you think of the idea of adding an appendix or something to report with the commit hash of the repo that was used to create the report?

I think this may prove useful for us as we start to work on multiple studies and are generating multiple reports.

[2021-04-23 14:19] thebioengineer commented on #277
Oh, like as a footnote or just at the end of the report?

[2021-04-23 14:21] benkeser commented on #277
Exactly.

[2021-04-23 14:34] benkeser commented on #277
Don't know all those words, but sounds good. Are there privacy concerns there?

[2021-04-23 14:39] thebioengineer commented on #277
I think as another check, run `digest::digest(file = here("data_raw",data_in_file )` and `digest::digest(file = here("data_clean",data_name)` - then we can always verify that the data as it exists in `data_clean` and `data_raw` are the data used to generate the report

[2021-04-23 14:43] thebioengineer commented on #277
as far as I am aware, all the hash is is a unique identifier for the contents of the file, but cannot be used to regenerate the data - I would double check that statement though.

[2021-04-23 15:29] benkeser commented on #277
You want to volunteer to tackle this?

[2021-04-23 15:34] thebioengineer commented on #277
I can put some code together, but might need to work with you to get it into the report as an appendix

[2021-04-23 15:41] benkeser commented on #277
Maybe better as a footnote on the title page of the report. Maybe @nhejazi could help figure that out?

[2021-04-23 18:35] benkeser opened #278 "fix limits in boxplots"
setting limits based on input ULOQ and LLOD

[2021-04-26 21:56] thebioengineer commented on #277
First attempt is currently an appendix in [this run](https://github.com/CoVPN/correlates_reporting/commit/499a122e71f2bfaab14ff489a78d9d6b6ea1c619) in the `covpn_correlates_cor.pdf`. Is what you were thinking? or more of a table?

[2021-04-29 05:15] nhejazi commented on #208
An even easier fix than anything discussed above (I think) would be to just have each of the distinct reports built by separate Travis jobs, triggering builds of each on any given PR or merge commit. The only exception to this would be the baseline risk score report, which would be built by both the CoR and CoP jobs, since it's a dependency of both analyses. This has the advantage of essentially a

[2021-04-29 14:38] benkeser commented on #278
#291

[2021-04-29 14:38] #278 closed

[2021-04-29 16:32] benkeser commented on #277
Thanks @thebioengineer and @nhejazi for awesome work on #282

[2021-04-29 16:32] #277 closed

[2021-05-06 14:41] benkeser opened #297 "`TwophasesampInd` definition"
@youyifong, is [this line](https://github.com/CoVPN/correlates_reporting/blob/623b03084c73a1080f8b33c1e3e470c2e280cd96/data_clean/make_dat_proc.R#L51) correct or should it be `EventIndPrimaryD57`?

[2021-05-06 15:15] benkeser commented on #297
Another question: I see this note in [`data_raw/README.md`](https://github.com/CoVPN/correlates_reporting/blob/master/data_raw/README.md):
- `EventIndPrimaryD29==1` implies `EventIndPrimaryD57==1`

But I don't think that's true right? Because someone could have an event >=7 days post day 29 but less than >=7 days post day 57. What am I missing?

[2021-05-06 15:23] youyifong commented on #297
You are right. This readme.md is unfortunately out of date. I have attached
the most recent version I have. Peter may have a newer one.

On Thu, May 6, 2021 at 8:16 AM David Benkeser ***@***.***>
wrote:

README File: Mock COVID-19 Vaccine Efficacy Trial data sets
	     COVID_VEtrial_practicedata_primarystage1.csv
             COVID_VEtrial_practicedata_longerterm.csv

	     [In Q1 2021 only need t

[2021-05-06 15:24] youyifong commented on #297
This was intentional. My understanding is that this would cover
intercurrent cases.

On Thu, May 6, 2021 at 7:41 AM David Benkeser ***@***.***>
wrote:

[2021-05-06 15:26] benkeser commented on #297
Thanks. So it must be true that all Day 57 analysis scripts need to explicitly exclude intercurrent cases rather than simply subsetting on `TwophasesampInd == 1`

[2021-05-06 15:36] benkeser commented on #297
Ok thanks

[2021-05-06 15:36] #297 closed

[2021-05-10 13:23] #261 closed

[2021-05-10 14:21] nhejazi commented on #208
This is now at least partially resolved by #300.

[2021-05-12 18:03] benkeser opened #306 "`cor_tabular` issue with missing cells"
We find that function `get_rgmt` fails at the following line, if there are no cases in a particular subgroup

[code]

For example, Moderna has not adjudicated cases for baseline positive individuals and thus their `Case` status is uniformly equal to 0.

The code needs to be robust to situations where `Case` is uniformly 0 or 1 in a particular statrum.

[2021-05-12 18:59] cyu-hvtn commented on #306
Thank you David!

[2021-05-12 19:01] benkeser opened #307 "`cor_graphical` errors"
Currently Moderna is seeing errors in `CoR_wrcdf_with_VE_lines.R` in the function call `covid_corr_rcdf_ve_lines.R`.

The error something like `Aesthetics must be of length 1 or same as the data (1):`; see [here](https://community.rstudio.com/t/error-aesthetics-must-be-either-length-1-or-the-same-as-the-data-2-fill/15579) for similar error.

Could this be related to #306 and due to the fact that t

[2021-05-12 19:01] benkeser opened #308 "Will we allow `NA` in event indicators?"
What was the resolution on this @youyifong? Can we update docs and tests accordingly? And make sure everyone is aware of the decision.

[2021-05-12 19:14] youyifong commented on #308
How do I add file changes to a PR? I use a github gui. Should I just create
a new PR?

On Wed, May 12, 2021 at 12:02 PM David Benkeser ***@***.***>
wrote:

[2021-05-12 19:18] benkeser commented on #308
Not sure what you mean? What are file changes vs. commits?

[2021-05-12 19:22] youyifong commented on #308
They are the same thing. Is PR308 opened for the purpose of making changes
to the data check?

On Wed, May 12, 2021 at 12:18 PM David Benkeser ***@***.***>
wrote:

[2021-05-12 19:22] benkeser commented on #308
This is an issue thread, not a PR. Sorry for the confusion.

[2021-05-12 19:25] youyifong commented on #308
I see. Sorry. I will open a new PR.

On Wed, May 12, 2021 at 12:23 PM David Benkeser ***@***.***>
wrote:

[2021-05-12 19:26] #308 closed

[2021-05-12 23:50] KenLi93 commented on #307
Hi David, thank you for letting me know of the bug! I'm looking into it right now and will let you know as soon as a fix is ready

[2021-05-13 00:25] KenLi93 commented on #307
Hi David, I pushed a fix of the issue to #302. The VE curves were not plotted for baseline seropositive subjects if no cases were in that group, since the VE cannot be estimated

[2021-05-13 13:16] benkeser opened #311 "`cop` report bug"
Getting some warnings from `sl3` calls (presumably in stochastic cop report?) and [jobs are timing out](https://travis-ci.com/github/CoVPN/correlates_reporting/jobs/505068652).

`sl3` error below

[code]

[2021-05-13 18:17] benkeser commented on #307
Thanks, Kendrick.

Another bug we tracked down today:
In some cases, if the CI on the antibody scale in these plots is constant, `ggplot` will throw an error in your call to `geom_ribbon` because `dat_area_V` is empty.

The workaround I had was to add the following check [here](https://github.com/CoVPN/correlates_reporting/blob/fe6e52f13235850b399c3c5811b59f7a7b09d86d/cor_graphical/code/cor_wrcdf_

[2021-05-13 22:43] nhejazi commented on #311
This isn't really a problem, just saying that the lasso fails due to variables with constant values; `sl3` automatically drops failing learners. I'll address the timing issue by reducing the set of learners in the example SL.

[2021-05-13 22:45] nhejazi opened #315 "refactoring weighting variables"
With an eye towards upcoming correlates analyses other than Moderna (e.g., Jansen), we should perform the following global search and replace in the whole code base:

1. `TwophasesampInd` -> `TwophasesampIndD57`
2. `TwophasesampInd.2` -> `TwophasesampIndD29`
3. `wt` -> `wt.D57`
4. `wt.2` -> `wt.D29`

This will help make the code more readable across multiple trials.

[2021-05-14 18:06] #307 closed

[2021-05-14 18:50] benkeser commented on #306
Nominally resolved in #317

[2021-05-14 18:50] #306 closed

[2021-05-15 20:53] nhejazi commented on #311
Resolved by #316.

[2021-05-15 20:53] #311 closed

[2021-05-18 21:12] #315 closed

[2021-05-19 18:03] benkeser opened #328 "Table 3 of immuno report"
From Peter:
Table 3:
Add one more footnote defining Observed and Estimated
              “Observed = Numbers of participants sampled into the subcohort within baseline covariate strata.
Estimated = Estimated numbers of participants in the whole per-protocol cohort within baseline covariate strata, calculated using inverse probability weighting.”

[2021-05-19 18:05] benkeser opened #329 "Table 4s and 5s of immuno tables"
From Peter:
All table 4s and all tables 5s: Extend the footnote to include one more sentence: “LLOQ = 0.48, 5.43, 1.80 IU/ml for N, RBD, Spike, respectively.”

Currently, the LLOQs are the old ones, not the updated ones, I wonder if the code is not ‘seeing’ the updates in common.R?

[2021-05-19 18:06] benkeser opened #330 "Immuno graphical changes"
From Peter:
For the arrangement of 5 panels in Fig 2.51 through 2.66, can the 3 bAb readouts be put in the same row or column, and the two pseudovirus nAb readouts put in the same row or column? (as units of assays)

@KenLi93, was this resolved by #324?

[2021-05-19 18:10] cyu-hvtn commented on #329
Hi David, this issue and #328 have been implemented in the last PR #325 and merged to the master branch. Thanks!

[2021-05-19 18:11] benkeser opened #331 "cor tabular changes"
- [ ] A new Table 3.  It would have similar structure/layout as Table 3 in the immunogenicity report, showing the 24 baseline strata.  The goal of the table is to show counts in each of the 24 baseline strata, with 3 types of counts: Number of non-cases; number of cases for Day 29 marker analyses; number of cases for Day 57 marker analyses.  So this table orients readers to the amount of informati

[2021-05-19 18:12] benkeser opened #332 "cor graphical changes"
- [ ] Labeling in many figures (axis labels, figure legends, facet titles).  “PP Cases” and “PP Non-Cases” is not the correct terminology anymore (following the README).  It should now be “Primary Cases” and “Non-Cases”.  Search and replace labeling on this issue.
- [ ] Section 2.5 violin and line plots: Try to increase the font size of the LLOD text, and of the proportions at the top of the plots

[2021-05-19 18:13] #329 closed

[2021-05-19 18:13] benkeser commented on #328
#325

[2021-05-19 18:13] #328 closed

[2021-05-19 18:15] benkeser commented on #330
I see that it was. Thanks!

[2021-05-19 18:15] #330 closed

[2021-05-19 18:26] KenLi93 commented on #332
Hi David,

I am working with Yiwen to address Peter's comments. I believe Yiwen with
submit the updates shortly.

Best regards,
Kendrick

On Wed, May 19, 2021, 11:15 AM David Benkeser ***@***.***>
wrote:

[2021-05-19 18:29] KenLi93 commented on #330
Thank you, David!

On Wed, May 19, 2021, 11:17 AM David Benkeser ***@***.***>
wrote:

[2021-05-21 10:50] #332 closed

[2021-05-21 19:01] benkeser opened #337 "Document establishing conventions for Janssen analysis"
We need contributing guidelines for code development for the Janssen study, which is complicated by the single-dose nature of the trial and the need for analyses to be run specific to each study region.

[2021-05-27 23:25] #337 closed

[2021-06-01 13:50] #331 closed

[2021-06-01 18:56] benkeser opened #354 "PR builds not always pushed"
These lines are now commented out in `_deploy_reports.sh`
[code]

But it seems that sometimes reports on `gh-pages` are not updated after successful builds. E.g, [this build](https://travis-ci.com/github/CoVPN/correlates_reporting/builds/227628869). The message on travis from git is nothing new to commit.

Trying to force (`-rf`) copying on #352 to see if that solves it.

[2021-06-02 13:11] benkeser opened #357 "`renv/activate.R` changes"
This file changes a lot and it's sort of annoying to manage on PRs. Doesn't really seem to break anything, but do we understand the source of the changes? Different local package versions or what?

[2021-06-02 17:13] thebioengineer commented on #357
If I had to guess, it is due to local {renv} versions 🤷

[2021-06-02 17:37] #357 closed

[2021-06-02 17:37] benkeser commented on #354
@nhejazi could you take a look at this please?

[2021-06-02 20:56] benkeser commented on #354
@thebioengineer, I can't find Nima. Any chance you have bandwidth to take a look at this?

[2021-06-02 21:32] thebioengineer commented on #354
Lets poke around - its kind of hard because the logic looks like it should be updating and it looks like everything ran. Git just doesn't think there were any changes

Opening a PR #363 to print out all the files

[2021-06-02 23:43] nhejazi commented on #357
The changes are likely just due to differences in styling defaults on individual machines. The `renv` version should itself be controlled by the lockfile.

[2021-06-03 00:01] nhejazi commented on #354
I'm not quite sure (yet) what exactly is going on but the information provided by `git` doesn't make too much sense: Consider the lines below https://travis-ci.com/github/CoVPN/correlates_reporting/jobs/510537381#L12178, where the PDF reports before/after copying are somehow exactly identical --- all generated/updated by travis with modification dates matching today's date, yet the reports on `gh-

[2021-06-03 00:18] nhejazi commented on #354
The last PR to result in a successful push to `gh-pages` apparently was https://github.com/CoVPN/correlates_reporting/pull/340. As of the next PR's commits, we see https://travis-ci.com/github/CoVPN/correlates_reporting/jobs/507841153#L19792, "No anonymous write access", which is continued in the next 4-6 PRs, at which point the current behavior appears in https://github.com/CoVPN/correlates_repor

[2021-06-03 00:43] nhejazi commented on #354
OK, at least one mistake is in the syntax for specifying environment variables for Travis to export. The environment variable `REPORT_TYPE` is not being exported at all since the newly introduced `TRIAL` env var is issued by duplicating the `env` key. This is fixed in 96625c3.

[2021-06-03 00:50] benkeser commented on #354
Good catch. I did this 😳

the if statement in deploy script must not be getting hit.

[2021-06-03 02:02] nhejazi commented on #354
...and we're back! :rocket:

[2021-06-03 02:11] #354 closed

[2021-06-03 15:18] #196 closed

[2021-06-03 15:21] benkeser opened #365 "cor threshold chapter title"
<img width="844" alt="Screen Shot 2021-06-03 at 11 19 55 AM" src="https://user-images.githubusercontent.com/17482713/120669713-b30e6600-c45d-11eb-9d38-e1a3582133c9.png">

@Larsvanderlaan, could you please modify the `{# }` heading to get rid of this latex gore?

[2021-06-03 15:24] benkeser commented on #365
Also are the axis limits right in this figure?

<img width="677" alt="Screen Shot 2021-06-03 at 11 24 10 AM" src="https://user-images.githubusercontent.com/17482713/120670294-45af0500-c45e-11eb-8765-6b8f8fe004af.png">

[2021-06-03 15:26] benkeser opened #366 "cor nonlinear chapter titles"
<img width="853" alt="Screen Shot 2021-06-03 at 11 25 49 AM" src="https://user-images.githubusercontent.com/17482713/120670516-7d1db180-c45e-11eb-8ee9-2bf1a897d3bd.png">

Currently, Day 29 analyses for non-linear CoR are labeled as Day 57 in the section headings.

[2021-06-03 15:33] benkeser opened #367 "id50/80 in IU"
Now we are reporting ID50 and ID80 on the International Units (IU)/ml scale, where again this is updated in the SAP and the README.

@youyifong, has this been implemented in the code yet?

[2021-06-03 15:34] benkeser opened #368 "positivity call"
From Peter:

VRC has advised that we should define positive response for the bAb markers based on new positivity cutoffs.  Revised text in the SAP: “For each binding antibody marker, the estimated percentage of participants defined as responders, and with concentrations $\ge$ 2x LLOQ or $\ge$ 4 x LLOQ, will be provided with the corresponding 95\% CIs using the Clopper-Pearson method.  A positive r

[2021-06-03 15:35] benkeser opened #369 "ULOQ in immuno reports"
From Peter:
The new immunogenicity reports will NOT use ULOQ values, they will show all values regardless of whether above the ULOQ.  So our mock immunogenicity reporting should not use ULOQs.  Our correlates reports do use the ULOQs.

@cyu-hvtn @yiwenlu @KenLi93, could you please confirm that immuno reporting conforms to the above

[2021-06-03 16:14] youyifong commented on #367
This was updated in data processing script and _common.R.

On Thu, Jun 3, 2021 at 8:33 AM David Benkeser ***@***.***>
wrote:

[2021-06-03 16:15] youyifong commented on #367
In one of the commits in 349

On Thu, Jun 3, 2021 at 9:13 AM Youyi Fong ***@***.***> wrote:

[2021-06-03 16:18] youyifong commented on #366
Thanks for catching this. PR 370 provides a fix.

On Thu, Jun 3, 2021 at 8:26 AM David Benkeser ***@***.***>
wrote:

[2021-06-03 16:23] KenLi93 commented on #369
Hi David,

Thank you for this update! Currently, in the immunogenicity plot, I draw the ULOQ lines for the applicable graphs. Did you mean that the ULOQ values will not be used at all and those lines should be removed?

[2021-06-03 16:25] cyu-hvtn commented on #369
Yes, Immuno doesn't use ULOQs and CoR does.

[2021-06-03 16:41] benkeser commented on #369
@KenLi93, I think it’s just that the markers are not truncated at ULOQ. Showing ULOQ on graph seems OK.

[2021-06-03 16:41] #367 closed

[2021-06-03 16:46] KenLi93 commented on #369
@cyu-hvtn @benkeser Thank you both for the clarification!

[2021-06-03 16:48] benkeser commented on #369
So Ok to close this issue then?

[2021-06-03 16:57] KenLi93 commented on #369
There should be no issues on my end if it's okay to keep ULOQ lines in the plots.

[2021-06-03 17:16] yiwenlu commented on #369
@benkeser I can confirm immuno (verification for table) doesn't use ULOQs and CoR (verification for table and CoR figures) does.

[2021-06-03 17:17] #369 closed

[2021-06-03 17:33] #366 closed

[2021-06-03 19:24] yiwenlu commented on #368
@benkeser I just submitted a PR for positivity call changes in my CoR figures, and have requested Di's verification for them. I will verify Chenchen's immuno/CoR tables again after she make this change and send me her updates.

[2021-06-03 21:51] Larsvanderlaan commented on #365
Hi David, I've sent a pull request with the title changes.

 I coordinated these axis' with Youyi (based on the get.axis.range functions in _common.R). They look a bit wacky on the mock data but I was told they will look better on the real data.

[2021-06-03 21:52] Larsvanderlaan commented on #365
I see that Youyi has similar issues with the "lod" spacing. I believe this is because the axis limits are obtaining by flooring/ceiling the min/max observed values of the marker at the log10 scale. If the observed minimal log10 marker is for example very close to but less than a whole number then the "floor" will add a lot of extra green/white space.

@youyifong
Do we want to change the get.axis.r

[2021-06-03 23:46] #368 closed

[2021-06-04 00:37] youyifong commented on #365
In get.range.cor(), we rounded up the max of the marker values and did not
round down lod/2.

We expected some observed values to be lod/2 for the Moderna dataset.

On Thu, Jun 3, 2021 at 2:53 PM Lars van der Laan ***@***.***>
wrote:

[2021-06-04 00:38] benkeser commented on #365
Thanks guys. Let’s leave as is then.

[2021-06-04 00:38] #365 closed

[2021-06-04 18:28] benkeser opened #379 "table numbers"
Desired to have Tables by labeled as `Table X.Y` where `X` is the chapter of the report and `Y` is the number within that section.

This might help?
https://community.rstudio.com/t/pdf-table-captions-dont-use-section-subsection/27643

[2021-06-04 18:28] benkeser opened #380 "add disclaimer to all moderna reports"

[2021-06-04 19:03] benkeser commented on #379
I think labels are being dropped because of [this line](https://github.com/CoVPN/correlates_reporting/blob/c8fec9fc60cedd5793a2d6d2bb09848dc5fe85da/cor_tabular/report.Rmd#L11)

Is this OK for me to remove?

[2021-06-04 19:08] benkeser commented on #379
It looks like [this line](https://github.com/CoVPN/correlates_reporting/blob/c8fec9fc60cedd5793a2d6d2bb09848dc5fe85da/cor_tabular/report.Rmd#L72) manually generates table labels as well? Can we remove the manual numbering of tables and let latex handle it?

[2021-06-04 19:12] benkeser commented on #379
See suggested modifications in #381

[2021-06-04 19:16] cyu-hvtn commented on #379
The title will be messy if that line is removed. But I can add a line to restore the default option after running my code

[2021-06-04 19:23] cyu-hvtn commented on #379
The line to reset the table label format has been added to #377

[2021-06-04 22:26] #379 closed

[2021-06-07 19:38] benkeser commented on #216
resolved in #51

[2021-06-07 19:38] #216 closed

[2021-06-07 19:38] #380 closed

[2021-06-07 19:39] benkeser commented on #214
I suggest that we actually do this (remove entire branch) after Moderna real report is complete. `git pull`'s are getting a little unseemly. Doesn't seem much downside to losing the diffs for pdfs.

[2021-06-07 20:24] nhejazi commented on #214
Ok, that sounds fine to me, especially since we're just losing drafts of mock reports. Good to re-generate now that the analyses have hit a point closer to stability.

[2021-06-11 18:07] benkeser opened #391 "make a tag to denote first run of moderna report"
commit ee0448d

[2021-06-14 16:13] benkeser opened #393 "travis PR builds down"
@nhejazi, could you sort out why?

[2021-06-14 18:43] #391 closed

[2021-06-15 02:07] #393 closed

[2021-06-15 13:56] benkeser commented on #214
Cleaned out and a new orphan branch `gh-pages` added.

[2021-06-15 13:56] #214 closed

[2021-06-15 20:36] benkeser opened #402 "Handling PRs in the multiple study era"
PR #398 adds lines to `.travis.yml` that trigger builds of the pooled Janssen analysis.

I am suggesting that we go ahead and merge this PR so that we can start handling PRs for ENSEMBLE code. However, PRs for code updates that pertain to Moderna may still show ENSEMBLE builds breaking and therefore testing failing.

I guess the question is at what point do we allow PR's to be merged while still f

[2021-06-15 20:42] thebioengineer commented on #402
could we have whomever opens the PR somehow tag that it is either for moderna or ENSEMBL, and run the code accordingly?

[2021-06-15 20:46] benkeser commented on #402
Agree that’s ideal. Not sure if do-able on Travis.

[2021-06-15 20:46] youyifong commented on #402
I looked at some of the build errors. They seem fixable. I am in favor of
not skipping the travis build test requirement for extending the code to
work with the ensemble data.

On Tue, Jun 15, 2021 at 1:42 PM Ellis Hughes ***@***.***>
wrote:

[2021-06-15 20:48] benkeser commented on #402
Maybe we should just integrate testing for ensemble piecemeal. Eg first just run a test of the data clean. Then add test of immuno/cor reports when that code is ready?

[2021-06-15 20:54] youyifong commented on #402
I think I did not understand the situation before, sorry. I guess as long
as it is temporary, it should be fine.

Would it be possible for several of us to submit changes to PR 398 to get
it to a state that does not fail?

The incremental change sounds good if that is doable and not too
labor-intensive.

On Tue, Jun 15, 2021 at 1:48 PM David Benkeser ***@***.***>
wrote:

[2021-06-21 20:51] benkeser commented on #402
Following up on this --
In the most recent commit in #398, I have defined a travis job that just processes the ensemble data (i.e., runs `make data_processed` with `TRIAL=janssen_pooled_mock`. If that passes, I'll go ahead and merge.

Then my suggestion for next step is to create an `ensemble_immuno` branch, where the travis build will have an automated build for the Janssen pooled immuno report t

[2021-06-21 22:36] youyifong commented on #402
Sounds good to me. Thanks.

On Mon, Jun 21, 2021 at 1:51 PM David Benkeser ***@***.***>
wrote:

[2021-06-24 17:26] benkeser opened #414 "Optimal surrogate pushes build over run time limit"
Current builds of correlates report time out with the addition of the optimal surrogate analysis. I see two ways forward:

1. Trigger an additional build of just the optimal surrogate report on travis (assuming the total run time is <120 minutes)
2. Add a (default) reduced library so that the code executes in a shorter amount of time.

@brborate, any thoughts?

[2021-06-24 17:29] brborate commented on #414
Hi @benkeser, I can create a default reduced library the way we had done for baseline risk report earlier. Working on it now, and will push in some time.

[2021-07-08 17:31] #414 closed

[2021-07-08 17:33] benkeser opened #433 "cor_surrogates output"
Is it possible to reduce the amount of output generated by the surrogates analysis. It's currently making travis logs quite difficult to read. One idea would be to turn `verbose = FALSE` to all calls to super learner. It also looks from the output as though one of the screeners may be printing out information each iteration (e.g., [here](https://travis-ci.com/github/CoVPN/correlates_reporting/jobs

[2021-07-08 17:33] #402 closed

[2021-07-08 17:34] brborate commented on #433
Agree, will do this.

[2021-07-08 17:35] benkeser commented on #433
Perhaps just a message printing which variable set is being run before the call to `SuperLearner` should be sufficient?

[2021-07-08 17:48] benkeser opened #434 "base_riskscore faster run"
Is it possible to implement a `fast_run` option in the baseline risk score analysis?

E.g., one could check `study_name` and if it includes `"Mock"` then a simpler, faster running SL analysis could be included.

This could help reduce build times considerably.

[2021-07-08 17:50] benkeser opened #435 "reducing build time of immuno graphics"
Going forward it will be useful to work towards reducing the build time of reports so that travis builds execute more quickly (since we've burned through all our free build hours).

@brianSimpkins, it would be useful as you start to dig through the code and work on modifications to consider whether/how the build times could be reduced for the mock reports. E.g., for each class of figure, perhaps a

[2021-07-08 18:09] brborate commented on #434
Looking into this as well.

[2021-07-08 19:40] brianSimpkins commented on #435
It should be relatively straightforward to work on this. At the least I can keep the code from producing any figures that aren't going to be included in the final report. I'll see what I can do and push any changes ASAP.

[2021-07-08 20:47] benkeser commented on #435
This should not be a priority at the moment (we need ENSEMBLE immuno results asap, this can wait), but just something to keep in mind going forward as you build your code. Thanks!

[2021-07-08 20:47] #435 closed

[2021-07-09 13:58] benkeser opened #443 "cor_surrogates bug on travis"
I turned off all printing in the `surrogates` analysis (#442). Now, the [current build](https://travis-ci.com/github/CoVPN/correlates_reporting/jobs/523194629) errors in `tables_figures.R` looking for a file:

[code]

[2021-07-09 13:58] benkeser commented on #433
Resolved in #442

[2021-07-09 13:58] #433 closed

[2021-07-09 14:17] #443 closed

[2021-07-12 15:02] benkeser commented on #434
#447

[2021-07-12 15:02] #434 closed

[2021-07-13 14:43] benkeser opened #461 "warning in tabular code"
[code]

[2021-07-13 18:15] cyu-hvtn commented on #461
Should be solved in #464

[2021-07-13 21:01] #461 closed

[2021-07-19 18:48] youyifong opened #476 "EarlyendpointD57 in make_table_all.R (cor tabular) breaking for ensemble"
@cyu-hvtn The error msg is copied below.

Error: Problem with `mutate()` input `Case.D57`.
✖ object 'EarlyendpointD57' not found
ℹ Input `Case.D57` is `case_when(...)`.
Backtrace:
     █
  1. ├─`%>%`(...)
  2. ├─dplyr::mutate(...)
  3. ├─dplyr:::mutate.data.frame(...)
  4. │ └─dplyr:::mutate_cols(.data, ...)
  5. │   ├─base::withCallingHandlers(...)
  6. │   └─mask$eval_all_mutate(quo)
  7. ├─dply

[2021-07-19 18:49] youyifong commented on #476
By the way, on a separate note, I made this change in the same file to remove the warning that caught out eyes a few times (@benkeser @nhejazi )

#assays_col <- levels(interaction(visits, assays, sep="")) # interaction gives a warning about In ans * length(l) + if1 : longer object length is not a multiple of shorter object length
assays_col <- c(outer(visits, sort(assays), paste0)) # this reproduc

[2021-07-19 19:01] youyifong opened #477 "clean_data error on real ensemble data (cop_mediation)"
@benkeser

make[1]: Entering directory '/trials/covpn/p3003/analysis/correlates_reporting/cop_mediation'
Rscript code/clean_data.R
Warning message:
Project requested R version '4.1.0' but '4.0.4' is currently being used

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff,

[2021-07-19 19:04] cyu-hvtn commented on #476
I noticed this too. Working on updating cor_tabular code for ensemble.

[2021-07-20 05:10] #476 closed

[2021-07-21 04:03] benkeser commented on #477
The cop mediation analysis should be, for the time being, removed from the cor report build. We need to have a discussion based on immuno reports as to which, if any, assays will meet the assumptions of the method.

[2021-07-21 04:18] #477 closed

[2021-07-21 04:18] youyifong commented on #477
Okay, I will close the issue.

On Tue, Jul 20, 2021 at 9:03 PM David Benkeser ***@***.***>
wrote:

[2021-07-23 18:30] youyifong commented on #476
@cyu-hvtn @yiwenlu Is there a PR that addressed this issue?

[2021-07-23 18:32] cyu-hvtn commented on #476
Yes, included in #489

[2021-07-23 18:33] youyifong commented on #476
Thanks!

On Fri, Jul 23, 2021 at 11:32 AM cyu-hvtn ***@***.***> wrote:

[2021-07-23 21:45] youyifong opened #492 "cor tabular error on real ensemble data"
@cyu-hvtn Could you take a look?

make -k -C cor_tabular all
make[1]: Entering directory '/trials/covpn/p3003/analysis/correlates_reporting/cor_tabular'
Rscript code/make_table_all.R
Warning message:
Project requested R version '4.1.0' but '4.0.4' is currently being used

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are

[2021-07-23 21:47] cyu-hvtn commented on #492
sure

[2021-07-23 22:11] youyifong commented on #492
@cyu-hvtn the real ensemble data is on T drive T:\covpn\p3003\analysis\correlates_reporting\data_raw

[2021-07-23 22:48] cyu-hvtn commented on #492
@youyifong There's empty Wstratum in ph2.D29 in the real data. And it seems the only way to resolve the issue is to exclude that stratum from phase 1 for twophase(). Just want to confirm the estimates are still correct with the exclusion.

[2021-07-23 23:21] youyifong commented on #492
Hi Chenchen, it looks like the baseline pos placebo recipients have no
cases in ph2.D29, right? I think it is okay to do as you suggested. It is
too bad the survey package is not more robust. Best, Youyi

ph2.D29), table(Wstratum))
Wstratum
33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 67
37 33 27 32 45 33 42 26 46 46 50 36 45 46 50 48 34

ph2.D29), table(Wstratum))
Wstratum
  1   2   3   4   5

[2021-07-23 23:42] cyu-hvtn commented on #492
Right, the baseline pos placebo recipients have no cases in ph2.D29. I’ve just submitted a PR to solve this.

Thanks!
Chenchen

From: Youyi Fong ***@***.***>
Sent: Friday, July 23, 2021 4:22 PM
To: CoVPN/correlates_reporting ***@***.***>
Cc: Yu, Chenchen ***@***.***>; Mention ***@***.***>
Subject: Re: [CoVPN/correlates_reporting] cor tabular error on real ensemble data (#492)

Hi Chenchen, it look

[2021-07-25 04:25] #492 closed

[2021-07-25 04:27] youyifong opened #495 "cor_graphical error"
@yiwenlu Could you take a look at this error on real ensemble data?

make[1]: Entering directory '/trials/covpn/p3003/analysis/correlates_reporting/cor_graphical'
rm -f data_clean/* && rm -f output/*
Rscript code/cor_data_preprocess.R
Warning message:
Project requested R version '4.1.0' but '4.0.4' is currently being used

Attaching package: ‘dplyr’

The following objects are masked from ‘package:

[2021-07-25 06:22] yiwenlu commented on #495
@youyifong I tested cor_data_preprocess.R with janssen_pooled_real_data_processed.csv but didn't get this error. Is this csv what you used for this run?

[2021-07-25 06:34] youyifong commented on #495
I used the data with risk score that is under data_clean on cosrv.

On Sat, Jul 24, 2021 at 11:22 PM Yiwen Lu ***@***.***> wrote:

[2021-07-26 12:10] youyifong commented on #495
@yiwenlu I am also using janssen_pooled_real_data_processed.csv since risk score does to impact cor graphical. I think the problem comes from this line in data preprocess:

# assign values above the uloq to the uloq
for (t in c("B", if(has29) "Day29", "Day57") ) {
  dat.long.cor.subset[[t]] <- ifelse(dat.long.cor.subset[[t]] > dat.long.cor.subset$ULoQ, dat.long.cor.subset$ULoQ, dat.long.cor.subset

[2021-07-26 20:17] yiwenlu commented on #495
@youyifong I just submitted a PR for this issue.

[2021-07-27 22:58] #495 closed

[2021-08-13 18:40] benkeser opened #528 "severe plots for ENSEMBLE"

[2021-08-13 18:40] benkeser opened #529 "cop/cor report for 1 day post day 29 and 7 days post day 29"

[2021-08-14 07:52] yiwenlu commented on #528
@benkeser real data have been updated with severe endpoint indicators. Could you remind me if Peter meant extra figures by severe endpoints (severe vs non-severe) or extra figures just for severe endpoint cases?

[2021-08-27 14:12] benkeser opened #552 "tertile markers"
@youyifong, I noticed that the computation of tertiles for the markers has moved over to `cor_coxph` now. Those tertiles are also needed for the mediation analyses.

As we move towards a more general framework, I wonder if it makes sense to adjudicate what objects might be shared across several cor/cop analyses and to have a separate script that runs and saves those objects in a common place. E.g.

[2021-08-27 17:01] #552 closed, assigned to nobody

[2021-09-20 16:43] youyifong opened #574 "cor_tabular numbering within chapter"

[2021-09-22 15:39] youyifong commented on #574
@cyu-hvtn @benkeser This might work: change
\captionsetup[table]{labelformat=empty}
to
\captionsetup[table]{}
and remove Table # from caption.i

[2021-09-24 02:46] cyu-hvtn commented on #574
Updated in #580

[2021-09-24 04:37] #574 closed

[2021-09-24 15:07] youyifong opened #584 "using the future parallel processing framework to speed up cor_graphical"
@nhejazi @yiwenlu @brianSimpkins What do you guys think about the potential for using the future parallel processing framework to speed up cor_graphical? Will it be easy? Worth it?

[2021-09-24 18:13] youyifong opened #585 "move international unit conversion from data processing to data mapping"
@yiwenlu @youyifong

[2021-09-24 18:15] youyifong opened #586 "run report on real moderna data on cosrv"

[2021-09-24 18:18] youyifong commented on #586
@brborate  risk score

[2021-09-24 18:19] youyifong commented on #585
@peterbriangilbert  Should we update the mock datasets as well to be on the international unit?

[2021-09-25 20:40] yiwenlu commented on #528
severe only figures have been added for ENSEMBLE @benkeser

[2021-09-25 21:01] yiwenlu commented on #585
I have changed units in the mapped dataset from log10(AU/mL) to log10(IU/mL) @youyifong

[2021-09-25 22:43] youyifong commented on #585
thanks!

[2021-09-25 22:43] #585 closed

[2021-09-29 22:15] nhejazi opened #592 "generalized configuration"
@youyifong @benkeser Opening discussion here on a few points for moving from the configuration style we currently have to a version sufficiently generalized for the correlates reporting package that is now in development, for use in HVTN 705 and other upcoming analyses. The current configuration setting looks close to what I think we should implement, in the sense of containing _atomic_ configurat

[2021-09-29 23:30] youyifong commented on #592
Thanks, Nima. I thought about these two approaches as well, there are some
tradeoffs. I think we can go either way to satisfy most requirements, but I
am not sure. One requirement is the sensitivity analysis for starting
counting cases 1 day after D29.
Youyi

On Wed, Sep 29, 2021 at 3:15 PM nima hejazi ***@***.***>
wrote:

[2021-09-29 23:37] youyifong commented on #592
Other requirements being that we will have additional end points, such as
infection (not COVID)

On Wed, Sep 29, 2021 at 4:30 PM Youyi Fong ***@***.***> wrote:

[2021-09-30 18:33] youyifong opened #593 "decouple code for data processing and correlates analyses?"
@benkeser @nhejazi  Two repos?

[2021-09-30 19:48] youyifong commented on #593
moderna_real_params.Rdata need to be reconsidered. It is produced as part of the outcome from the data processing step.

[2021-09-30 19:58] youyifong commented on #593
and data file with risk score needs to include placebo and baseline pos

[2021-09-30 22:46] youyifong commented on #586
continuous marker results matched; trichotomized don't, probably because trichotomization process changed

[2021-09-30 22:46] #586 closed

[2021-10-01 19:49] youyifong commented on #592
thumbs up

[2021-10-09 15:16] nhejazi commented on #592
@nhejazi need to look into inheritance structures in yml to make this possible

[2021-10-12 16:50] #584 closed

[2021-10-15 00:37] nhejazi commented on #592
Resolved in discussion/meetings.

[2021-10-15 00:37] #592 closed